
ion-card-title {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content:space-between;

	font-size: 20px;
	font-weight: 500;
}

ion-item {
  --ion-safe-area-right: 0;
}

ion-card-header {
	padding: 5px;
}

ion-card-content {
	padding-top: 10px;
}


.partsContainer{
	// border: 1px solid red;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;

	.inputCol{
		order: 1;
		//  border: 1px solid yellow;
		flex-grow: 1;
		ion-item span{ 
			//why does span have block properties?
			width: 100%;
		}
	}

	.prefCol{
		display: flex;
		order: 2;
		// border: 1px solid blue;
		ion-list ion-radio-group{
			height: 100%;
			width: 9ch; //"preferred"
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			ion-item{
				// border: 1px solid black;
				flex-grow: 1;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;
				ion-radio{
					align-self: flex-end;
				}
			}
			.prefHead{
				position: fixed;
				top:4px;
				
			}
		}
	}

}


.faded {
	opacity: .3;
}

.alertSectionTitle {
	width: 100;
	text-align: center;
}

.toggleWords {
	width: 7ch;
	font-weight: 200;
	padding-left: 5px;
}

.missing ion-label{
	color: red;
	font-weight: 500;
}