<ion-card no-padding>
  <ion-card-header>
    <ion-card-title>
      <div></div>
      <div>
        {{ symbol.text }}
      </div>
      <div></div>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>

    <!-- Parts -->
    <div class='partsContainer'>
      <div class='inputCol'>
        <ion-list lines='full'>
          <ion-item *ngFor='let inputPart of parts' [ngClass]="{'missing': !!inputPart.part.missing}">
            <span *ngIf='inputPart.type === InputType.DATE'>
              <ion-datetime [displayFormat]="datmFmt" [placeholder]='inputPart.part.text'
                [(ngModel)]='inputPart.part.value' (ngModelChange)='inputPart.blur(inputPart.part.value)'
                [disabled]='!!readOnly'>
              </ion-datetime>
            </span>
            <span *ngIf='inputPart.type === InputType.EMAIL'>
              <!-- TODO change input component -->
              <ion-label position='floating'> {{ inputPart.part.text }}<span *ngIf='inputPart.part.missing'>*</span>
              </ion-label>
              <ion-input (ionBlur)='inputPart.blur()' type="text" [(ngModel)]="inputPart.part.value"
                [disabled]='!!readOnly'></ion-input>
            </span>
            <span *ngIf='inputPart.type === InputType.PHONE'>
              <!-- TODO change input component -->
              <ion-label position='floating'> {{ inputPart.part.text }}<span *ngIf='inputPart.part.missing'>*</span>
              </ion-label>
              <ion-input (ionBlur)='inputPart.blur()' type="text" [(ngModel)]="inputPart.part.value"
                [disabled]='!!readOnly'></ion-input>
            </span>
            <span *ngIf='inputPart.type === InputType.GENDER'>
              <!-- TODO change input component -->
              <ion-label position='floating'> {{ inputPart.part.text }}<span *ngIf='inputPart.part.missing'>*</span>
              </ion-label>
              <ion-input (ionBlur)='inputPart.blur()' type="text" [(ngModel)]="inputPart.part.value"
                [disabled]='!!readOnly'></ion-input>
            </span>
            <span *ngIf='inputPart.type === InputType.TEXT'>
              <ion-label position='floating'> {{ inputPart.part.text }}<span *ngIf='inputPart.part.missing'>*</span>
              </ion-label>
              <ion-input (ionBlur)='inputPart.blur()' type="text" [(ngModel)]="inputPart.part.value"
                [disabled]='!!readOnly'></ion-input>
            </span>
          </ion-item>
        </ion-list>
      </div>
      <div class='prefCol' *ngIf='!!prefPart'>
        <ion-list lines='none'>
          <ion-radio-group allow-empty-selection [(ngModel)]='pref' (ionChange)="prefSelect($event)">
            <div class='prefHead'>Preferred</div>
            <ion-item *ngFor='let inputPart of parts'>
              <ion-radio [value]='inputPart.part.code'></ion-radio>
            </ion-item>
            <!-- <ion-radio *ngIf='inputPart.isPrefOption' [value]='inputPart.part.code'></ion-radio>
              <div class='prefLabel' *ngIf='!!pref && (pref == inputPart.part.code)'>Favorite</div> -->
          </ion-radio-group>
        </ion-list>
      </div>
    </div>

    <!-- Composites -->
    <span *ngIf='!missingDataMode()'>
      <div *ngIf='!isApprovalPage' class='alertSectionTitle'>Privacy Controls</div>
      <ion-list lines='full' no-padding>
        <ion-item lines='full' no-padding>
          <ion-label>{{ symbol.text }}</ion-label>
          <ion-toggle [(ngModel)]='symbolAlert' (ngModelChange)='symbolAlertToggle()' [checked]='symbolAlert'>
          </ion-toggle>
          <span class='toggleWords'>{{ symbolAlert ? 'Private' : 'Public' }}</span>
        </ion-item>
        <span *ngIf='symbolAlert || model.compositeMode'>
          <ion-item *ngFor='let comp of composites' no-padding>
            <ion-label (click)='compositeInfo($event, comp)'>{{ comp.text }}
              <ion-icon name="information-circle-outline"></ion-icon>
            </ion-label>
            <ion-toggle [(ngModel)]='comp.alert' (ngModelChange)="inputStop()" [checked]='comp.alert'
              [disabled]='!symbolAlert'></ion-toggle>
            <span class='toggleWords'
              [ngClass]="{'faded' : !symbolAlert}">{{ comp.alert ? 'Private' : 'Public' }}</span>
          </ion-item>
        </span>
      </ion-list>
    </span>

  </ion-card-content>

</ion-card>