<header></header>


<div class='pageTitle'>
  <h3>System Settings</h3>
</div>
<ion-content padding overflow-scroll=”true”>

  <ion-list *ngIf='!model.sfa && !!settings'>

    <ion-item >
      <ion-label position="floating">Reader ID</ion-label>
      <ion-input type='text' [(ngModel)]='settings.readerID' (ionBlur)='saveSettings()'></ion-input>
    </ion-item>

    <ion-item >
      <ion-label position="floating">Max Timeout (seconds)</ion-label>
      <ion-input type='number' [(ngModel)]='settings.timeout' (ionBlur)='saveSettings()'></ion-input>
    </ion-item>

  </ion-list>

  

  <div *ngIf='modelService.branch != Branch.PRODUCTION'>
    Using storage driver: {{ database.storage.driver }}
  </div>



  <div>
    <br />
    <ion-button size='medium' (click)="clearDB()">
      <ion-icon name="trash"></ion-icon> clear database
    </ion-button>
    <br />
    <ion-button size='medium' (click)="dumpDB()">
      <ion-icon name="copy"></ion-icon> export database
    </ion-button>
    <br />
    <ion-button size='medium' (click)="loadDB()">
      <ion-icon name="log-in"></ion-icon> import database
    </ion-button>
    <br />
    <div *ngIf='modelService.branch != Branch.PRODUCTION'>
      <ion-button size='medium' (click)="getToken()">
        <ion-icon name="key"></ion-icon> get token
      </ion-button>
      <br />
      <br />
      <div>
        Enable push debug alerts
        <br />
        <ion-toggle [(ngModel)]='model.showPush' [checked]='model.showPush'>
        </ion-toggle>
      </div>
      <div>
        Enable email debug alerts
        <br />
        <ion-toggle [(ngModel)]='model.emailDebug' [checked]='model.emailDebug'>
        </ion-toggle>
      </div>
      <div>
        Allow Duplicate Scans
        <br />
        <ion-toggle [(ngModel)]='model.allowDuplicates' [checked]='model.allowDuplicates'>
        </ion-toggle>
      </div>
      <div>
        Profile Privacy Display: <span *ngIf='!model.compositeMode'>Collapse</span><span *ngIf='model.compositeMode'>Grey
          out</span>
        <br />
        <ion-toggle [(ngModel)]='model.compositeMode' [checked]='model.compositeMode'></ion-toggle>
      </div>
    </div>


  </div>

</ion-content>

<footer [buttons]='[]' [page]='null'></footer>