<div *ngIf='isPreview; else elseHeader'>
  <header (back)='closeModal(updated)'></header>
</div>
<ng-template #elseHeader>
  <header (back)='closeModal(updated)' (more)='openMore($event)' showMore='true'></header>
</ng-template>

<div class="pageTitle">
  <div>
    <br />
    <h3 class="heading">{{ ff.getOrg() }}</h3>
    <!-- STD : History, PUNCH card details -->
    <div>{{ ff.getDescription() }}</div>
    <!-- <div *ngIf="ff.getEngageType() === EngageType.PUNCH; else description">
      <h4 class="heading">
        <div>
          Reward - {{ punch.getRewards() }} {{ff.getDescription()}}
        </div>
      </h4>
    </div>
    <ng-template #description>
      <div>{{ ff.getDescription() }}</div>
    </ng-template> -->
    <div *ngIf="ff.getEngageType() === EngageType.PROMOTION; else elseBlock">
      <h4 class="heading">
        <div>
          eCoupon
          <span *ngIf="ff.getUserFacingState() === FFState.REGISTERED && !isPreview"> - Opt-In </span>
          <span *ngIf="ff.getUserFacingState() === FFState.SUBMITTED && !isPreview; else showOtherState"> - Submitted </span>
          <ng-template #showOtherState>
            <div *ngIf="ff.getUserFacingState() && !isPreview"> - {{ff.getUserFacingState()}} </div>
          </ng-template>
        </div>
      </h4>
    </div>
    <ng-template #elseBlock>
      <h4 class="heading">
        <!-- getPunchTypeText -->
        <span *ngIf="ff.getEngageType() === EngageType.PUNCH && ff.getPunchTypeText(); else elseeBlock">
          {{ff.getPunchTypeText()}}
        </span>
        <ng-template #elseeBlock>
          {{actionSymbol.text}}
        </ng-template>

        <span *ngIf="ff.getEngageType() === EngageType.PUNCH && ff.isDummy && !isPreview; else showElseBlock">
          <span> - Missing </span>
        </span>
        <ng-template #showElseBlock>
          <span *ngIf="ff.getUserFacingState() === FFState.REGISTERED && !isPreview"> - Opt-In </span>
          <span *ngIf="ff.getUserFacingState() === FFState.SUBMITTED && !isPreview; else showOtherState"> - Submitted </span>
          <ng-template #showOtherState>
            <div *ngIf="ff.getUserFacingState() && !isPreview"> - {{ff.getUserFacingState()}} </div>
          </ng-template>
        </ng-template>
      </h4>
    </ng-template>
    <div *ngIf="ff.getEngageType() == EngageType.PROMOTION || ff.getEngageType() == EngageType.PUNCH">
     <br />
    </div>
  </div>

  <div class="details">

     <!-- ------------Event And Event With Guest-------------- -->
     <div *ngIf="ff.getEngageType() === EngageType.EVENT_WITH_GUEST || ff.getEngageType() === EngageType.EVENT_REGISTRATION">
      <!-- need To Confirm Date -->
      <div class="pageTitle">
        <!-- <div style="color: brown">Wlt_item_status</div>
        <div style="color: brown">Itm_Desc</div> -->
        <div *ngIf="ff.getEngageType() === EngageType.EVENT_WITH_GUEST && eventWGuest.guestSelected; else noGuest">
          {{ eventWGuest.guestSelected }} Guest
        </div>
        <ng-template #noGuest> 
          <div *ngIf="ff.getEngageType() === EngageType.EVENT_WITH_GUEST">
             0 Guest <br /> 
          </div>
        </ng-template>
        <div *ngIf="eventWGuest.site">
          <div *ngIf="eventWGuest.getCustomSite(); else showSite">
            Site: {{ eventWGuest.getCustomSite() }} <br />
          </div>
          <ng-template #showSite> Site: {{ eventWGuest.site }} <br /> </ng-template>
        </div>
        <div *ngIf="eventWGuest.location">
          <div *ngIf="eventWGuest.getCustomLocation(); else showLocation">
            Location: {{ eventWGuest.getCustomLocation() }} <br />
          </div>
          <ng-template #showLocation> Location: {{ eventWGuest.location }} <br /> </ng-template>
        </div>
        <!-- <div style="color: darkgoldenrod">
          Map: Geo location type:0,code:'4'
        </div> -->
        <div *ngIf="eventWGuest.price && eventWGuest.guestLimit; else elseBlock">
          Price: ${{ eventWGuest.price }} Limit: {{ eventWGuest.guestLimit }} <br />
        </div>
        <ng-template #elseBlock>
          <div *ngIf="eventWGuest.price">Price: ${{ eventWGuest.price }} <br /></div>
          <div *ngIf="eventWGuest.guestLimit">Limit: {{ eventWGuest.guestLimit }} <br /></div>
        </ng-template>
        <div *ngIf="procTimeStr && !isPreview"> Opt-In: {{ procTimeStr }}</div>
        <!-- <div *ngIf="ff.getUserFacingState() === FFState.REGISTERED"> Opt-In: {{ procTimeStr }}</div>
        <div *ngIf="ff.getUserFacingState() === FFState.SUBMITTED; else showOtherState"> Submitted: {{ procTimeStr }}</div>
        <ng-template #showOtherState>
          <div *ngIf="ff.getUserFacingState()"> {{ff.getUserFacingState()}}: {{ procTimeStr }} </div>
        </ng-template> -->
      </div>
      <br />
      <div>
        <div>
          Event:
        </div>
        <div class="showdate">
          <div *ngIf="eventWGuest.getFormattedStartDateTime(); else showstarttime">
            Start: {{ eventWGuest.getFormattedStartDateTime() }}
          </div>
          <ng-template #showstarttime> From: </ng-template>
          <div *ngIf="eventWGuest.getFormattedEndDateTime() else showendtime">
            End: {{ eventWGuest.getFormattedEndDateTime() }}
          </div>
          <ng-template #showendtime> To: </ng-template>
        </div>
      </div>
      <br>
      <div *ngIf="eventWGuest.type" class="divider"></div>
      <div *ngIf="eventWGuest.type" class="pageTitle">
        <br/>
        <h4 class="heading" *ngIf="eventWGuest.incentOrg; else showSponsor">{{eventWGuest.incentOrg}} Bonus</h4>
        <ng-template #showSponsor>
          <h4 class="heading" *ngIf="ff.getOrg()">{{ff.getOrg()}} Bonus</h4>
        </ng-template>
        <!-- <h5 class="heading" *ngIf="eventWGuest.incentDesc">{{eventWGuest.incentDesc}}</h5> -->
        <h5 class="heading" *ngIf="eventWGuest.incentDesc">
          <span *ngIf="eventWGuest.getIncentLabel()">{{ eventWGuest.getIncentLabel() }}</span>
          <span>{{ eventWGuest.incentDesc }}</span>
        </h5>
        <div>
          <span *ngIf="eventWGuest.getIncentStatus(); else showRedeemStatus ">{{ eventWGuest.getIncentStatus() }} - </span>
          <ng-template #showRedeemStatus>
            <span *ngIf="eventWGuest.redeemStatus && !ff.isDummy">{{ eventWGuest.redeemStatus }} - </span>
            <span *ngIf="eventWGuest.redeemStatus && ff.isDummy"> Missing - </span>
          </ng-template>
          <span *ngIf="eventWGuest.type">{{ eventWGuest.type }}</span>
        </div>
        <div *ngIf="ff.getBonusType() === BonusType.COUPON && eventWGuest.getCouponDate()">Ends: {{ eventWGuest.getCouponDate() }}</div>
        <div *ngIf="ff.getBonusType() === BonusType.DRWAING && eventWGuest.getDrawingDate()">Draw Date: {{ eventWGuest.getDrawingDate() }}</div>
        <div *ngIf="ff.getBonusType() === BonusType.PUNCH && eventWGuest.getPunchDate()">Ends: {{ eventWGuest.getPunchDate() }}</div>
        <h4 *ngIf="ff.getBonusType() === BonusType.PUNCH" class="pageTitle">
          Rewards Available: {{eventWGuest.getRewards()}} <br />
        </h4>
      </div>  
    </div>
    <!-- ------------Promo-------------- -->
    <div *ngIf="ff.getEngageType() === EngageType.PROMOTION">
      <div class="pageTitle">
        <!-- <div style="color: brown">Wlt_item_status</div>
        <div style="color: brown">Itm_Desc</div> -->
        <h5 class="heading" *ngIf='promo1?.redeemStatus && !ff.isDummy && ff.getBonusType() === BonusType.DRWAING; else elseStatus'>{{ promo1?.redeemStatus }}</h5>
        <ng-template #elseStatus>
          <h5 class="heading" *ngIf='promo.redeemStatus && !ff.isDummy'>{{ promo.redeemStatus }}</h5>
        </ng-template>
        <h5 class="heading" *ngIf='promo.redeemStatus && ff.isDummy'>Missing</h5>
        <div *ngIf='promo.itemDescription'>
          {{ promo.itemDescription }} <br />
        </div>
        <div *ngIf="promo.site">
          <div *ngIf="promo.getCustomSite(); else showSite">
            {{ promo.getCustomSite() }} <br />
          </div>
          <ng-template #showSite> {{ promo.site }} <br /> </ng-template>
        </div>
        <div *ngIf="promo.location">
          <div *ngIf="promo.getCustomLocation(); else showLocation">
            {{ promo.getCustomLocation() }} <br />
          </div>
          <ng-template #showLocation> {{ promo.location }} <br /> </ng-template>
        </div>
        <!-- <div style="color: darkgoldenrod">
          Map: Geo Location - FUTURE type:0,code:'4'
        </div> -->
        <div *ngIf="promo.price && promo.limit; else elseBlock">
          Price: ${{ promo.price }} Limit: {{ promo.limit }} <br />
        </div>
        <ng-template #elseBlock>
          <div *ngIf="promo.price">Price: ${{ promo.price }} <br /></div>
          <div *ngIf="promo.limit">Limit: {{ promo.limit }} <br /></div>
        </ng-template>
        <div *ngIf="procTimeStr && !isPreview">Opt-In: {{ procTimeStr }}</div>
        <!-- <div *ngIf="ff.getUserFacingState() === FFState.REGISTERED"> Opt-In: {{ procTimeStr }}</div>
        <div *ngIf="ff.getUserFacingState() === FFState.SUBMITTED; else showOtherState"> Submitted: {{ procTimeStr }}</div>
        <ng-template #showOtherState>
          <div *ngIf="ff.getUserFacingState()"> {{ff.getUserFacingState()}}: {{ procTimeStr }} </div>
        </ng-template> -->
      </div>
      <br />
      <div>
        <div *ngIf="promo.getRedeemMethod(); else RMelseBlock">
          {{promo.getRedeemMethod()}}:
        </div>
        <ng-template #RMelseBlock> Redeem Type: </ng-template>
        <div class="showdate">
          <div *ngIf="promo.getNocardStartDate(); else showstarttime">
            From: {{ promo.getNocardStartDate() }}
          </div>
          <ng-template #showstarttime>
            <div *ngIf="promo.getFormattedStartDateTime()">
              From: {{ promo.getFormattedStartDateTime() }}
            </div>
          </ng-template>
          <div *ngIf="promo.getNocardEndDate(); else showendtime">
            To: {{ promo.getNocardEndDate() }}
          </div>
          <ng-template #showendtime>
            <div *ngIf="promo.getFormattedEndDateTime()">
              To: {{ promo.getFormattedEndDateTime() }}
            </div>
          </ng-template>
        </div>
      </div>
      <br>
      <div *ngIf="promo.type && (promo.isDrawing() || promo.isCoupon() || promo.isPunch())" class="divider"></div>
      <div *ngIf="promo.type && (promo.isDrawing() || promo.isCoupon() || promo.isPunch())" class="pageTitle">
          <br/>
          <h4 class="heading">
            <div *ngIf="promo.getIncentOrg(); else showFFIncentOrg">{{promo.getIncentOrg()}} Bonus</div>
            <ng-template #showFFIncentOrg>
              <div *ngIf="ff.getIncentOrg(); else showSponsor">{{ff.getIncentOrg()}} Bonus</div>
              <ng-template #showSponsor>
                <div *ngIf="ff.getOrg()">{{ff.getOrg()}} Bonus</div>
              </ng-template>
            </ng-template>
          </h4>
          <h5 class="heading">
            <div *ngIf="promo.getIncentiveDescription(); else showFFIncentDesc">
              <span *ngIf="promo.getIncentLabel()">{{ promo.getIncentLabel() }}</span>
              <span>{{ promo.getIncentiveDescription() }}</span>
            </div>
            <ng-template #showFFIncentDesc>
              <div *ngIf="ff.getIncentiveDescription()">
                <span *ngIf="ff.getIncentLabel()">{{ ff.getIncentLabel() }}</span>
                <span>{{ ff.getIncentiveDescription() }}</span>
              </div>
            </ng-template>
          </h5>
          <div>
            <span *ngIf="promo.redeemStatus && !ff.isDummy">{{ promo.redeemStatus }} - </span>
            <span *ngIf="promo.redeemStatus && ff.isDummy"> Missing - </span>
            <span *ngIf="promo?.isPromoToMobile() && promo?.isPunch(); else showpromoType">Loyalty ePunch Card</span>
            <ng-template #showpromoType>
              <span *ngIf="promo.type">{{ promo.type }}</span>
            </ng-template>
          </div>
          <div *ngIf="ff.getBonusType() === BonusType.COUPON && promo.getCouponDate()">Ends: {{ promo.getCouponDate() }}</div>
          <div *ngIf="ff.getBonusType() === BonusType.DRWAING && promo.getDrawingDate()">Draw Date: {{ promo.getDrawingDate() }}</div>
          <div *ngIf="ff.getBonusType() === BonusType.PUNCH && promo.getPunchDate(); else showFFPunchDate">Ends: {{ promo.getPunchDate() }}</div>
          <ng-template #showFFPunchDate>
            <div *ngIf="ff.getBonusType() === BonusType.PUNCH && ff.getPunchDateText()">Ends: {{ ff.getPunchDateText() }}</div>
          </ng-template>

          <h4 *ngIf="ff.getBonusType() === BonusType.PUNCH" class="pageTitle">
            Rewards Available: {{promo.getRewards()}} <br />
          </h4>
      </div> 
    </div>
      <!-- ------------Punch No Card-------------- -->
      <div *ngIf="ff.getEngageType() === EngageType.PUNCH && ff.isDummy">
        <div class="pageTitle">
          <h4 class="heading">
            <span *ngIf='promo.redeemStatus'> Alert - </span>
            ePunch No Card
          </h4> 
          <h4 class="heading" *ngIf='promo.itemDescription'>
            Reward: {{ promo.itemDescription }} <br />
          </h4>
          <div *ngIf="promo.getCustomSite()">
            {{ promo.getCustomSite() }} <br />
          </div>
          <div *ngIf="promo._punch._actionText">
            {{ promo._punch._actionText }} Earn {{ promo.getEpunchWiseText() }}<br />
          </div>
          <div *ngIf="promo._punch._punchesRequired">
            Earned: {{promo.getEpunchWiseText2()}} {{ promo.getEpunchWiseText1() }} needed<br />
          </div>
          <div *ngIf="promo.getSite()">
              Site: {{ promo.getSite() }} <br />
          </div>
          <div *ngIf="promo.location">
            <div *ngIf="promo.getCustomLocation(); else showLocation">
              Location: {{ promo.getCustomLocation() }} <br />
            </div>
            <ng-template #showLocation>Location: {{ promo.location }} <br /> </ng-template>
          </div>
          <div *ngIf="procTimeStr && !isPreview">Opt-In: {{ procTimeStr }}</div>
          <!-- <div *ngIf="ff.getUserFacingState() === FFState.REGISTERED"> Opt-In: {{ procTimeStr }}</div>
          <div *ngIf="ff.getUserFacingState() === FFState.SUBMITTED; else showOtherState"> Submitted: {{ procTimeStr }}</div>
          <ng-template #showOtherState>
            <div *ngIf="ff.getUserFacingState()"> {{ff.getUserFacingState()}}: {{ procTimeStr }} </div>
          </ng-template> -->
        </div>
        <br />
        <div>
          <div>
            Earn ePunches:
          </div>
          <div class="showdate">
            <div *ngIf="promo.getFormattedStartDateTime(); else showstarttime">
              From: {{ promo.getFormattedStartDateTime() }}
            </div>
            <ng-template #showstarttime> From: </ng-template>
            <div *ngIf="promo.getFormattedEndDateTime() else showendtime">
              To: {{ promo.getFormattedEndDateTime() }}
            </div>
            <ng-template #showendtime> To: </ng-template>
          </div>
        </div>
        <h4 class="pageTitle">
          Rewards Available: 0 <br />
        </h4>
        <div *ngIf="ff.isCoupon() || ff.isDrawing()" class="divider"></div>
        <div *ngIf="ff.isCoupon() || ff.isDrawing()" class="pageTitle">
            <br/>
            <h4 class="heading" *ngIf="ff.getIncentOrg(); else showSponsor">{{ff.getIncentOrg()}} Bonus</h4>
            <ng-template #showSponsor>
              <h4 class="heading" *ngIf="ff.getOrg()">{{ff.getOrg()}} Bonus</h4>
            </ng-template>
            <h5 class="heading" *ngIf="ff.getIncentiveDescription()">
              <span *ngIf="ff.getIncentLabelForNoCard()">{{ ff.getIncentLabelForNoCard() }}</span>
              <span>{{ ff.getIncentiveDescription() }}</span>
            </h5>
            <div>
              <!-- <span *ngIf="promo.redeemStatus"> Missing - </span> -->
              <span *ngIf="ff.getIncentTypeForNoCard()">{{ ff.getIncentTypeForNoCard() }}</span>
            </div>
            <div *ngIf="ff.isCoupon() && ff.getCouponDateText()">Ends: {{ ff.getCouponDateText() }}</div>
            <div *ngIf="ff.isDrawing() && ff.getDrawingDateText()">Draw Date: {{ ff.getDrawingDateText() }}</div>
        </div> 
      </div>
      <!-- ------------Loyalty Punch-------------- -->
     <div *ngIf="ff.getEngageType() === EngageType.PUNCH && !ff.isDummy">
      <div class="pageTitle">
        <h4 class="heading">
          <span *ngIf='punch.redeemStatus'>{{ punch.redeemStatus }} - </span>
          Loyalty ePunch Card
        </h4> 
        <h4 class="heading" *ngIf='punch.itemDescription'>
          Reward: {{ punch.itemDescription }} <br />
        </h4>
        <div *ngIf="punch.getCustomSite()">
          {{ punch.getCustomSite() }} <br />
        </div>
        <div *ngIf="punch.getActionText()">
          {{ punch.getActionText() }} Earn {{ punch.getEpunchWiseText() }}<br />
        </div>
        <div *ngIf="punch._punch.punchesRequired">
          Earned: {{punch.getEpunchWiseText2()}} {{ punch.getEpunchWiseText1() }} needed<br />
        </div>
        <div *ngIf="punch.getSite()">
            Site: {{ punch.getSite() }} <br />
        </div>
        <div *ngIf="punch.location">
          <div *ngIf="punch.getCustomLocation(); else showLocation">
            Location: {{ punch.getCustomLocation() }} <br />
          </div>
          <ng-template #showLocation>Location: {{ punch.location }} <br /> </ng-template>
        </div>
        <div *ngIf="procTimeStr && !isPreview">Opt-In: {{ procTimeStr }}</div>
        <!-- <div *ngIf="ff.getUserFacingState() === FFState.REGISTERED"> Opt-In: {{ procTimeStr }}</div>
        <div *ngIf="ff.getUserFacingState() === FFState.SUBMITTED; else showOtherState"> Submitted: {{ procTimeStr }}</div>
        <ng-template #showOtherState>
          <div *ngIf="ff.getUserFacingState()"> {{ff.getUserFacingState()}}: {{ procTimeStr }} </div>
        </ng-template> -->
      </div>
      <br />
      <div>
        <div>
          Earn ePunches:
        </div>
        <div class="showdate">
          <div *ngIf="punch.getFormattedStartDateTime(); else showstarttime">
            From: {{ punch.getFormattedStartDateTime() }}
          </div>
          <ng-template #showstarttime> From: </ng-template>
          <div *ngIf="punch.getFormattedEndDateTime() else showendtime">
            To: {{ punch.getFormattedEndDateTime() }}
          </div>
          <ng-template #showendtime> To: </ng-template>
        </div>
      </div>
      <!-- Available redeem reward in wallet -->
      <h4 class="pageTitle" *ngIf='punch.getRewards()'>
        Rewards Available: {{punch.getRewards()}} <br />
      </h4>
      <!-- Only For eCoupon and Drawing -->
      <div *ngIf="punch.type" class="divider"></div>
      <div *ngIf="punch.type" class="pageTitle">
          <br/>
          <h4 class="heading" *ngIf="punch.getIncentOrg(); else showSponsor">{{punch.getIncentOrg()}} Bonus</h4>
          <ng-template #showSponsor>
            <h4 class="heading" *ngIf="ff.getOrg()">{{ff.getOrg()}} Bonus</h4>
          </ng-template>
          <h5 class="heading" *ngIf="punch.getIncentiveDescription()">
            <span *ngIf="punch.getIncentLabel()">{{ punch.getIncentLabel() }}</span>
            <span>{{ punch.getIncentiveDescription() }}</span>
          </h5>
          <div>
            <span *ngIf="punch.getIncentStatus(); else showRedeemStatus ">{{ punch.getIncentStatus() }} - </span>
            <ng-template #showRedeemStatus> <span *ngIf="punch.redeemStatus">{{ punch.redeemStatus }} - </span> </ng-template>
            <span *ngIf="punch.type">{{ punch.type }}</span>
          </div>
          <div *ngIf="punch.isEcoupon() && punch.getCouponDate()">Ends: {{ punch.getCouponDate() }}</div>
          <div *ngIf="punch.isEdrawing() && punch.getDrawingDate()">Draw Date: {{ punch.getDrawingDate() }}</div>
      </div> 
    </div>
     <!-- ------------Survey-------------- -->
     <div *ngIf="ff.getEngageType() === EngageType.SURVEY">
      <div class="pageTitle">
        <div *ngIf="survey.surveyQuestion">{{ survey.surveyQuestion}}</div>
        
        <div *ngIf="ff.isMultiChoice() else singleChoice">
          <div *ngIf="survey.getSurveySelection()">Choices: {{ survey.getSurveySelection() }}</div>
        </div>
        <ng-template #singleChoice> 
          <div *ngIf="survey.getSurveySelection()">Choice: {{ survey.getSurveySelection() }}</div>
        </ng-template>
       
        <div *ngIf="ff.isComment()">Comments: {{ ff.getComments() }}</div>
        <div *ngIf="procTimeStr && !isPreview">Opt-In: {{ procTimeStr }}</div>
        <!-- <div *ngIf="ff.getUserFacingState() === FFState.REGISTERED"> Opt-In: {{ procTimeStr }}</div>
        <div *ngIf="ff.getUserFacingState() === FFState.SUBMITTED; else showOtherState"> Submitted: {{ procTimeStr }}</div>
        <ng-template #showOtherState>
          <div *ngIf="ff.getUserFacingState()"> {{ff.getUserFacingState()}}: {{ procTimeStr }} </div>
        </ng-template> -->
      </div>
      <br />
      <div>
        Submit Entry:
        <div class="showdate">
          <div *ngIf="survey.getFormattedStartDateTime(); else showstarttime">
            From: {{ survey.getFormattedStartDateTime() }}
          </div>
          <ng-template #showstarttime> From: </ng-template>
          <div *ngIf="survey.getFormattedEndDateTime() else showendtime">
            To: {{ survey.getFormattedEndDateTime() }}
          </div>
          <ng-template #showendtime> To: </ng-template>
        </div>
      </div>
      <br>
      <div *ngIf="survey.type" class="divider"></div>
      <div *ngIf="survey.type" class="pageTitle">
          <br/>
          <h4 class="heading" *ngIf="survey.getIncentOrg(); else showSponsor">{{survey.getIncentOrg()}} Bonus</h4>
          <ng-template #showSponsor>
            <h4 class="heading" *ngIf="ff.getOrg()">{{ff.getOrg()}} Bonus</h4>
          </ng-template>
          <h5 class="heading" *ngIf="survey.getIncentiveDescription()">
            <span *ngIf="survey.getIncentLabel()">{{ survey.getIncentLabel() }}</span>
            <span>{{ survey.getIncentiveDescription() }}</span>
          </h5>
          <div>
            <span *ngIf="survey.getIncentStatus(); else showRedeemStatus ">{{ survey.getIncentStatus() }} - </span>
            <ng-template #showRedeemStatus>
              <span *ngIf="survey.redeemStatus && !ff.isDummy">{{ survey.redeemStatus }} - </span>
              <span *ngIf="survey.redeemStatus && ff.isDummy"> Missing - </span>
            </ng-template>
            <span *ngIf="survey.type">{{ survey.type }}</span>
          </div>
          <div *ngIf="ff.getBonusType() === BonusType.COUPON && survey.getCouponDate()">Ends: {{ survey.getCouponDate() }}</div>
          <div *ngIf="ff.getBonusType() === BonusType.DRWAING && survey.getDrawingDate()">Draw Date: {{ survey.getDrawingDate() }}</div>
          <div *ngIf="ff.getBonusType() === BonusType.PUNCH && survey.getPunchDate()">Ends: {{ survey.getPunchDate() }}</div>
          <h4 *ngIf="ff.getBonusType() === BonusType.PUNCH" class="pageTitle">
            Rewards Available: {{survey.getRewards()}} <br />
          </h4>
      </div>  
    </div>

    <!-- ------------5 Star Survey-------------- -->
    <div *ngIf="ff.getEngageType() === EngageType.FIVESTARSURVEY">
      <div class="pageTitle">
       
        <div *ngIf="survey.surveyQuestion">{{ survey.surveyQuestion}}</div>
        <ion-label>&nbsp;&nbsp;</ion-label>
        <div *ngIf="survey.getSurveySelection()">Rating: {{ survey.getSurveySelection() }}</div>
        <ion-label>&nbsp;&nbsp;</ion-label>
        <div *ngIf="ff.getComments()">Comments: {{ ff.getComments() }}
          <ion-label>&nbsp;&nbsp;</ion-label>
        </div>
        <div *ngIf="procTimeStr && !isPreview">Opt-In: {{ procTimeStr }}</div>
        <ion-label>&nbsp;&nbsp;</ion-label>
        <!-- <div *ngIf="ff.getUserFacingState() === FFState.REGISTERED"> Opt-In: {{ procTimeStr }}</div>
        <div *ngIf="ff.getUserFacingState() === FFState.SUBMITTED; else showOtherState"> Submitted: {{ procTimeStr }}</div>
        <ng-template #showOtherState>
          <div *ngIf="ff.getUserFacingState()"> {{ff.getUserFacingState()}}: {{ procTimeStr }} </div>
        </ng-template> -->
      </div>
      <br />
      <div>
        Submit Entry:
        <div class="showdate">
          <div *ngIf="survey.getFormattedStartDateTime(); else showstarttime">
            From: {{ survey.getFormattedStartDateTime() }}
          </div>
          <ng-template #showstarttime> From: </ng-template>
          <div *ngIf="survey.getFormattedEndDateTime() else showendtime">
            To: {{ survey.getFormattedEndDateTime() }}
          </div>
          <ng-template #showendtime> To: </ng-template>
        </div>
      </div>
      <br>
      <div *ngIf="survey.type" class="divider"></div>
      <div *ngIf="survey.type" class="pageTitle">
          <br/>
          <h4 class="heading" *ngIf="survey.getIncentOrg(); else showSponsor">{{survey.getIncentOrg()}} Bonus</h4>
          <ng-template #showSponsor>
            <h4 class="heading" *ngIf="ff.getOrg()">{{ff.getOrg()}} Bonus</h4>
          </ng-template>
          <h5 class="heading" *ngIf="survey.getIncentiveDescription()">
            <span *ngIf="survey.getIncentLabel()">{{ survey.getIncentLabel() }}</span>
            <span>{{ survey.getIncentiveDescription() }}</span>
          </h5>
          <div>
            <span *ngIf="survey.getIncentStatus(); else showRedeemStatus ">{{ survey.getIncentStatus() }} - </span>
            <ng-template #showRedeemStatus>
              <span *ngIf="survey.redeemStatus && !ff.isDummy">{{ survey.redeemStatus }} - </span>
              <span *ngIf="survey.redeemStatus && ff.isDummy"> Missing - </span>
            </ng-template>
            <span *ngIf="survey.type">{{ survey.type }}</span>
          </div>
          <div *ngIf="ff.getBonusType() === BonusType.COUPON && survey.getCouponDate()">Ends: {{ survey.getCouponDate() }}</div>
          <div *ngIf="ff.getBonusType() === BonusType.DRWAING && survey.getDrawingDate()">Draw Date: {{ survey.getDrawingDate() }}</div>
          <div *ngIf="ff.getBonusType() === BonusType.PUNCH && survey.getPunchDate()">Ends: {{ survey.getPunchDate() }}</div>
          <h4 *ngIf="ff.getBonusType() === BonusType.PUNCH" class="pageTitle">
            Rewards Available: {{survey.getRewards()}} <br />
          </h4>
      </div>  
    </div>
  </div>
</div>
<ion-content padding>
  <!-- <div style='overflow:scroll; flex-grow: 1;overflow-y: scroll;'>
    <ion-list lines='none' class='symbolsList'>
      <ion-item *ngFor='let s of inputSymbols'>
        <symbol [symbol]='s' (validate)='validate()' [readOnly]='!editMode'></symbol>
      </ion-item>
    </ion-list>
  </div> -->

  <!-- <div>
    <ion-button (click)='update()' [disabled]='updated'>{{ updated ? 'Updated' : 'Send Update' }}</ion-button>
  </div> -->

</ion-content>


<div *ngIf='!isPreview'>
  <footer [buttons]='buttons' [page]='null'></footer>
</div>