.header {
  width: 100%;
  text-align: center;
  background-color: white;
  position: fixed;
  @supports (-webkit-touch-callout: none) {
    top: 120px;
  }
  @supports not (-webkit-touch-callout: none) {
    top: 75px;
  }
}

div.details {
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}

div.bottomAnchor {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  position: fixed;
  bottom: 115px;
}

.qrImage {
  width: 100%;
  position: relative;
}

div.showdate {
  margin-left: 50px;
}

h3.heading {
  margin: 0;
  padding: 0;
}
h4.heading {
  margin: 0;
  padding: 0;
}
h5.heading {
  margin: 0;
  padding: 0;
}
