<ion-header slot="top">
	<ion-toolbar>
		<div class="toolbar">

			<div *ngIf='!disableControls'>
				<div *ngIf='showBack()' (click)="back.emit()">
					<ion-icon class="header-icon" name="arrow-back" icon-only></ion-icon>
				</div>
				<div *ngIf='!showBack()'>
					<ion-menu-toggle>
						<ion-icon icon-only name="menu"></ion-icon>
					</ion-menu-toggle>
				</div>
			</div>

			<div class='title'>
				<ion-title *ngIf='!!model.sfa'>QR Advantage</ion-title>
				<ion-title *ngIf='!model.sfa'>eRedeem</ion-title>
			</div>

			<div *ngIf='!disableControls'>
				<div *ngIf='editCallbacks' (click)='toggleEdit()'>
					<span *ngIf='editContext'>Done</span>
					<span *ngIf='!editContext'>Edit</span>
				</div>
			</div>

			<div *ngIf='showMore'>
				<ion-buttons end>
					<ion-button (click)="more.emit($event)">
						<ion-icon ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
					</ion-button>
				</ion-buttons>
			</div>
		</div>
	</ion-toolbar>
</ion-header>