
ion-toolbar {
    --ion-toolbar-background: var(--ion-color-primary);
    --ion-toolbar-color: var(--ion-color-primary-contrast);
}
  
ion-icon {
    font-size: 32px;
}

.toolbar {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center; 
    flex-direction: row;
    justify-content: space-between;
}

.title {
    align-self: center;
    flex-grow: 1;
}

ion-title {
    text-align: center;
}
