<ion-content>
    <ion-list *ngFor='let field of fields'>
        <!-- I use ngIf here because disabled property wasn't processing the boolean value correctly -->
        <div *ngIf="field[1]">
            <ion-item  (click)='eventFromPopover(field[0])' disabled='false'>
                {{ field[0] }}
            </ion-item>
        </div>
        <div *ngIf="!field[1]">
            <ion-item  (click)='eventFromPopover(field[0])' disabled='true'>
                {{ field[0] }}
            </ion-item>
        </div>
    </ion-list>
</ion-content>