<header (back)='closeModal()'></header>

<div class="pageTitle">
    <h3> Event w/ Guests </h3>
    {{ ff.getOrg() }} <br />
    {{ ff.getDescription() }} <br />
    <div class='details'>
        <br />
        Maximum Guests Allowed: {{ ff.getMaxGuests() }} <br />
        Guests Attending: {{ guests }} <br />
        <ion-button color="primary" (click)="openGuestPicker()">Guests Picker</ion-button><br />
    </div>
</div>

<ion-content padding></ion-content>

<footer [buttons]='footerButtons' [page]='null'></footer>