<header
  [editCallbacks]="getEditCallbacks()"
  [editContext]="editContext"
></header>

<div class="pageTitle">
  <h3>Wallet</h3>
</div>
<ion-content padding>
  <div *ngFor="let p of promosList" class="cardContainer">
    <div *ngIf="editContext">
      <ion-checkbox
        [(ngModel)]="p.selected"
        [checked]="p.selected"
      ></ion-checkbox>
    </div>
    <ion-card (click)="details(p.promo)">
      <ion-icon class="tapIcon" name="search"></ion-icon>
      <ion-card-header style="text-align: center">
        <ion-card-title>
            <!--promotomobile and eCoupon -->
            <!-- <div *ngIf="p.promo.type != PromoType.PUNCH && !p.promo.isDrawing() && (p.promo.isPromoToMobile() || p.promo.isCoupon())"> -->
            <div *ngIf="p.promo.type == PromoType.COUPON">
                <div *ngIf='p.promo.getIncentOrg() && p.promo.isCouponWhen2(); else showSponsor'>{{p.promo.getIncentOrg()}} Bonus</div>
                <ng-template #showSponsor>
                    <div *ngIf='p.promo.org && p.promo.isCouponWhen2(); else showSponsor1'>{{p.promo.org}} Bonus</div>
                    <ng-template #showSponsor1>
                        <div *ngIf='p.promo.org'>{{ p.promo.org }}</div>
                    </ng-template>
                </ng-template>
                <div *ngIf='p.promo.getIncentiveDescription() && p.promo.isCouponWhen2(); else showDesc'>{{ p.promo.getIncentiveDescription() }}</div>
                <ng-template #showDesc>
                    <div *ngIf='p.promo.itemDescription'>{{ p.promo.itemDescription }}</div>
                </ng-template>    
                <ion-card-subtitle>
                    <div>
                        <span *ngIf='p.promo.redeemStatus'>{{ p.promo.redeemStatus }} - </span>
                        eCoupon
                    </div>
                    <div *ngIf='p.promo.getCouponDate() && p.promo.isCouponWhen2(); else showCampDate'>Ends: {{ p.promo.getCouponDate() }}</div>
                    <ng-template #showCampDate>
                        <div *ngIf='p.promo.getFormattedEndDateTime()'>Ends: {{ p.promo.getFormattedEndDateTime() }}</div>
                    </ng-template>        
                </ion-card-subtitle>
            </div>

            <!-- Drawing -->
            <!-- <div *ngIf="p.promo.type != PromoType.PUNCH && p.promo.isDrawing() && p.promo.type != PromoType.COUPON"> -->
            <div *ngIf="p.promo.type == PromoType.DRWAING">
                <div *ngIf='p.promo.getIncentOrg(); else showSponsor'>{{p.promo.getIncentOrg()}} Bonus</div>
                <ng-template #showSponsor>
                    <div *ngIf='p.promo.org'>{{ p.promo.org }}</div>
                </ng-template>
                <div *ngIf='p.promo.getIncentiveDescription()'>Win! - {{ p.promo.getIncentiveDescription() }}</div>
                <ion-card-subtitle>
                    <div>
                        <span *ngIf='p.promo.redeemStatus'>{{ p.promo.redeemStatus }} - </span>
                        Drawing
                    </div>
                    <div *ngIf='p.promo.getDrawingDate()'>Drawing Date: {{ p.promo.getDrawingDate() }}</div>       
                </ion-card-subtitle>
            </div>

            <!-- Reward -->
             <div *ngIf="p.promo.type === PromoType.PUNCH && p.promo.parentID && p.promo._punch == undefined">
                <div *ngIf='p.promo.getIncentOrg() && p.promo?.getParentCampaign()?.getEngageType() != EngageType.PUNCH && (p.promo?.isCoupon() || p.promo?.isDrawing() || p.promo?.isPromoToMobile() || p.promo?.isPunch()); else showSponsor'>
                    {{p.promo.getIncentOrg()}} Bonus
                </div>
                <ng-template #showSponsor>
                    <div *ngIf='p.promo.org'>{{ p.promo.org }}</div>
                </ng-template>

                <div *ngIf='p.promo.getIncentiveDescription() && p.promo?.getParentCampaign()?.getEngageType() != EngageType.PUNCH && (p.promo?.isCoupon() || p.promo?.isDrawing() || p.promo?.isPromoToMobile() || p.promo?.isPunch()); else showDesc'>
                    Reward - {{ p.promo.getIncentiveDescription() }}
                </div>
                <ng-template #showDesc>
                    <div *ngIf='p.promo.itemDescription'>Reward - {{ p.promo.itemDescription }}</div>
                </ng-template>

                <ion-card-subtitle>
                    <div *ngIf='p.promo.parentID'>
                        <span *ngIf='p.promo.redeemStatus'>{{ p.promo.redeemStatus }} - </span>
                        Reward
                    </div>
                    <div *ngIf='p.promo.getRewardDateEnd(); else showCampDate'>Ends: {{ p.promo.getRewardDateEnd() }}</div>
                    <ng-template #showCampDate>
                        <div *ngIf='p.promo.getFormattedEndDateTime()'>Ends: {{ p.promo.getFormattedEndDateTime() }}</div>
                    </ng-template>
                </ion-card-subtitle>
            </div>

             <!-- Punch No Card -->
            <div *ngIf="p.promo.type == PromoType.PUNCH && !p.promo.parentID && p.promo._punch != undefined">
                <div *ngIf='p.promo.getIncentOrg() && (p.promo?.isCoupon() || p.promo?.isDrawing()); else showSponsor'>{{p.promo.getIncentOrg()}} </div>
                <ng-template #showSponsor>
                    <div *ngIf='p.promo.org'>{{ p.promo.org }}</div>
                </ng-template>

                <div *ngIf='p.promo.itemDescription'>Reward - {{ p.promo.itemDescription }}</div>

                <ion-card-subtitle>
                    <div>
                        <!-- <span *ngIf='p.promo.redeemStatus'>{{ p.promo.redeemStatus }} - </span> -->
                        Alert - ePunch No Card
                    </div>
                    <div *ngIf="p.promo.punch.punchesRequired">
                        Earned: {{ p.promo.getEpunchWiseText2() }} {{ p.promo.getEpunchWiseText1() }} needed<br />
                    </div>
                    <div *ngIf='p.promo.getPunchDate(); else showCampDate'>Ends: {{ p.promo.getPunchDate() }}</div>
                    <ng-template #showCampDate>
                        <div *ngIf='p.promo.getFormattedEndDateTime()'>Ends: {{ p.promo.getFormattedEndDateTime() }}</div>
                    </ng-template>
                </ion-card-subtitle>
            </div>  
            
            <!-- ePunch Card -->
            <div *ngIf="p.promo.type == PromoType.PUNCH && p.promo.parentID && p.promo._punch != undefined">
                <div *ngIf='p.promo.getIncentOrg() && p.promo?.getParentCampaign()?.getEngageType() != EngageType.PUNCH && (p.promo?.isCoupon() || p.promo?.isDrawing() || p.promo?.isPromoToMobile() || p.promo?.isPunch()); else showSponsor'>
                    {{p.promo.getIncentOrg()}} Bonus
                </div>
                <ng-template #showSponsor>
                    <div *ngIf='p.promo.org'>{{ p.promo.org }}</div>
                </ng-template>

                <div *ngIf='p.promo.getIncentiveDescription() && p.promo?.getParentCampaign()?.getEngageType() != EngageType.PUNCH && (p.promo?.isCoupon() || p.promo?.isDrawing() || p.promo?.isPromoToMobile() || p.promo?.isPunch()); else showDesc'>
                    Reward - {{ p.promo.getIncentiveDescription() }}
                </div>
                <ng-template #showDesc>
                    <div *ngIf='p.promo.itemDescription'>Reward - {{ p.promo.itemDescription }}</div>
                </ng-template>

                <ion-card-subtitle>
                    <div *ngIf='p.promo.parentID'>
                        <span *ngIf='p.promo.redeemStatus'>{{ p.promo.redeemStatus }} - </span>
                        <span *ngIf='p.promo.getPunchTypeText()'>{{ p.promo.getPunchTypeText() }} </span>
                    </div>

                    <div *ngIf="p.promo.punch.punchesRequired">
                        Earned: {{ p.promo.getEpunchWiseText2() }} {{ p.promo.getEpunchWiseText1() }} needed<br />
                    </div>
                    <div *ngIf='p.promo.getPunchDate(); else showCampDate'>Ends: {{ p.promo.getPunchDate() }}</div>
                    <ng-template #showCampDate>
                        <div *ngIf='p.promo.getFormattedEndDateTime()'>Ends: {{ p.promo.getFormattedEndDateTime() }}</div>
                    </ng-template>
                </ion-card-subtitle>    
            </div>

        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>

<footer [buttons]="buttons" [page]="page"></footer>

<!-- <header [editCallbacks]='getEditCallbacks()' [editContext]='editContext'></header>

<div class='pageTitle'>
	<h3>Wallet</h3>
</div>
<ion-content padding>

	<div *ngFor="let p of promosList" class='cardContainer'>
		<div *ngIf='editContext'>
			<ion-checkbox [(ngModel)]='p.selected' [checked]='p.selected'></ion-checkbox>
		</div>
		<ion-card (click)='details(p.promo)'>
			<ion-icon class='tapIcon' name='search'></ion-icon>

			<ion-card-header style="text-align: center;">
				<ion-card-title>
					<div></div>
					<div>
						<div *ngIf='p.promo.type === PromoType.PUNCH; else notPunch'>
							{{ p.promo.redeemStatus }} {{ p.promo.punch.punchCount }} of {{ p.promo.punch.punchesRequired }} - {{ p.promo.type }}
						</div>
						<ng-template #notPunch>
							{{ p.promo.redeemStatus }} - {{ p.promo.redeemMethod }}
						</ng-template>
						{{ p.promo.description }}
						<div *ngIf='p.promo.org'>
							<br />
							Sponsor: {{ p.promo.org }}
						</div>
					</div>
					<div></div>
				</ion-card-title>
			</ion-card-header>

			<ion-card-content>
				<ion-card-subtitle>
					<table>
						<tr>
							<td>Valid&nbsp;&nbsp;&nbsp;</td>
							<td>From: {{ p.promo.getFormattedStartDateTime() }}</td>
						</tr>
						<tr>
							<td></td>
							<td>To: {{ p.promo.getFormattedEndDateTime() }}</td>
						</tr>
					</table>
				</ion-card-subtitle>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>

<footer [buttons]='buttons' [page]='page'></footer> -->
