<ion-app>

  <ion-menu contentId="main-content" content="content" menuId="mainMenu" side="start" class="mainMenu" type="overlay">
    <ion-header noborder>
      <div class="mainMenuDiv" (click)='closeMenu()'>
        <div>
          <h4>
            Main Menu
          </h4>
        </div>
        <div>
          <ion-icon name="arrow-back"></ion-icon>
        </div>
      </div>
    </ion-header>
    <ion-content>
      <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button (click)="test1()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab vertical="center" horizontal="end" slot="fixed">
        <ion-fab-button (click)="test2()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="test3()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab> -->

      <ion-list *ngIf='!!model.sfa'>
        <ion-item (click)="openPage(PageName.CAMERA)">
          <ion-icon name="camera"></ion-icon> cScan
        </ion-item>
        <ion-item (click)="openPage(PageName.PROFILE)">
          <ion-icon name="person-circle"></ion-icon> Profile
        </ion-item>
        <ion-item (click)="openPage(PageName.APPROVAL)">
          <ion-icon name="alert-circle"></ion-icon> Action Alerts
        </ion-item>
        <ion-item (click)="openPage(PageName.PROMOS)">
          <ion-icon name="pricetags"></ion-icon> Promos
        </ion-item>
        <ion-item (click)="openPage(PageName.HISTORY)">
          <ion-icon name="newspaper"></ion-icon> History
        </ion-item>
        <ion-item (click)="openPage(PageName.PENDING)">
          <ion-icon name="file-tray"></ion-icon> Pending
        </ion-item>
        <ion-item (click)="openPage(PageName.SYSTEM)">
          <ion-icon name="settings"></ion-icon> System
        </ion-item>
        <ion-item (click)="openPage(PageName.HELP)">
          <ion-icon name="help-buoy"></ion-icon> Help
        </ion-item>
        <ion-item (click)="openPage(PageName.ABOUT)">
          <ion-icon name="information-circle"></ion-icon> About
        </ion-item>
      </ion-list>

      <ion-list *ngIf='!model.sfa'>
        <ion-item (click)="openPage(PageName.CAMERA)">
          <ion-icon name="camera"></ion-icon> eScan
        </ion-item>
        <ion-item (click)="openPage(PageName.SETUP)">
          <ion-icon name="hammer"></ion-icon> Setup
        </ion-item>
        <ion-item (click)="openPage(PageName.USERS)">
          <ion-icon name="people"></ion-icon> Users
        </ion-item>
        <ion-item (click)="openPage(PageName.ADMIN)">
          <ion-icon name="cog"></ion-icon> Admin
        </ion-item>
        <ion-item (click)="openPage(PageName.HISTORY)">
          <ion-icon name="people"></ion-icon> History
        </ion-item>
        <ion-item (click)="openPage(PageName.PENDING)">
          <ion-icon name="people"></ion-icon> Pending
        </ion-item>
        <ion-item (click)="openPage(PageName.SYSTEM)">
          <ion-icon name="settings"></ion-icon> System
        </ion-item>
        <ion-item (click)="openPage(PageName.HELP)">
          <ion-icon name="help-buoy"></ion-icon> Help
        </ion-item>
        <ion-item (click)="openPage(PageName.ABOUT)">
          <ion-icon name="information-circle"></ion-icon> About
        </ion-item>
      </ion-list>

    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-app>