.mainMenu ion-icon {
	padding-right: 15px;
}

.mainMenuDiv {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	align-items: center; 
	flex-direction: row;
	justify-content: space-between;
	padding-right: 5px;
	padding-left: 10px;
}
