ion-card {
  width: 97%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

ion-card-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 0px;
}

ion-card-title {
  width: 100%;
  // display: flex;
  // flex-direction: row;
  align-content: center;
  align-items: center;
  // justify-content:space-between;

  font-size: 17px;
  font-weight: 500;
}

ion-card-subtitle {
  padding-left: 20px;
  padding-right: 20px;
  text-transform: none;
}

ion-card-header {
  padding: 5px;
  text-align: center;
}

div.status {
  @supports (-webkit-touch-callout: none) {
    margin-top: -5px;
  }
  @supports not (-webkit-touch-callout: none) {
    margin-top: 0px;
  }
}

.tapIcon {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
}

.promoIcon {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 30px;
}

.failure {
  border: 1px solid grey;
  width: 90%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
