<header (back)='closeModal()'></header>

<div *ngIf='(step === Step.ERROR) && (subStep === SubStep.DATETIME_INTERVAL)' class='pageTitle'>
  <h3 *ngIf='dateTimeEarly'>
    Campaign - Not Started
  </h3>
  <h3 *ngIf='!dateTimeEarly'>
    Campaign - Expired
  </h3>
  {{ actionSymbol.text }} <br />
  {{ ff.getDescription() }} <br />
  Sponsor: {{ ff.getOrg() }} <br />
  <div *ngIf='dateTimeEarly'>
    The campaign will now start until {{ ff.getFormattedCampaignStart() }}
  </div>
  <div *ngIf='!dateTimeEarly'>
    The campaign expired on {{ ff.getFormattedCampaignEnd() }}
  </div>
</div>

<div *ngIf='(step === Step.ERROR) && (subStep === SubStep.DUPLICATE)' class='pageTitle'>
  <h3>
    Duplicate Engagement
  </h3>

  {{ actionSymbol.text }} <br />
  {{ ff.getOrg() }} <br />
  {{ ff.getDescription() }} <br />
</div>

<div *ngIf='(step === Step.ERROR) && (subStep === SubStep.REDEEM)' class='pageTitle'>
  <h3>
    Not an eRedeem Code
  </h3>

  {{ actionSymbol.text }} <br />
  {{ ff.getOrg() }} <br />
  {{ ff.getDescription() }} <br />
</div>

<div *ngIf="step === Step.ACTION_APPROVAL" class="pageTitle">
  <br />
  <h3 class="heading">{{ ff.getOrg() }}</h3>
  <div>{{ ff.getDescription() }}</div>
  <div *ngIf="ff.getEngageType() === EngageType.PROMOTION; else showActionaSymbol">
    <h5 class="heading">
      <!-- <div *ngIf="ff.getBonusType(); else showEngagement">
        {{ ff.getBonusType() }}
      </div>
      <ng-template #showEngagement>{{actionSymbol.text}}</ng-template> -->
      eCoupon
    </h5>
  </div>
  <ng-template #showActionaSymbol>
    <h5 class="heading">{{actionSymbol.text}}</h5>
    <!-- <h3 class="heading">{{ff.getEngageType()}}</h3> -->
  </ng-template>
  <div *ngIf="ff.getEngageType() == EngageType.PROMOTION || ff.getEngageType() == EngageType.PUNCH">
    <br />
  </div>
  <div class="details">
    <!-- ------------Punch-------------- -->
    <div *ngIf="ff.getEngageType() === EngageType.PUNCH">
      <div class="pageTitle">
        <h5 class="heading" *ngIf='punch.itemDescription'>
          Reward: {{ punch.itemDescription }} <br />
        </h5>
        <div *ngIf="punch.getCustomSite()">
          {{ punch.getCustomSite() }} <br />
        </div> 
        <div *ngIf="punch.getActionText()">
          {{ punch.getActionText() }} Earn {{ punch.getEpunchWiseText() }}<br />
        </div>
        <div *ngIf="punch._punch.punchesRequired">
          {{ punch.getEpunchWiseText3() }} {{ punch.getEpunchWiseText1() }} needed<br />
        </div>
        <div *ngIf="punch.getSite()">
          Site: {{ punch.getSite() }} <br />
        </div>
        <div *ngIf="punch.location">
          <div *ngIf="punch.getCustomLocation(); else showLocation">
            Location: {{ punch.getCustomLocation() }} <br />
          </div>
          <ng-template #showLocation>Location: {{ punch.location }} <br /> </ng-template>
        </div>
      </div>
      <br />
      <div>
        <div>
          Earn ePunches:
        </div>
        <div class="showdate">
          <div *ngIf="punch.getFormattedStartDateTime(); else showstarttime">
            From: {{ punch.getFormattedStartDateTime() }}
          </div>
          <ng-template #showstarttime> From: </ng-template>
          <div *ngIf="punch.getFormattedEndDateTime() else showendtime">
            To: {{ punch.getFormattedEndDateTime() }}
          </div>
          <ng-template #showendtime> To: </ng-template>
        </div>
      </div>
    </div>
     <!-- ------------Promo-------------- -->
     <div *ngIf="ff.getEngageType() === EngageType.PROMOTION">
      <div class="pageTitle">
        <div *ngIf='promo.itemDescription'>
          {{ promo.itemDescription }} <br />
        </div>
        <div *ngIf="promo.site">
          <div *ngIf="promo.getCustomSite(); else showSite">
            {{ promo.getCustomSite() }} <br />
          </div>
          <ng-template #showSite> {{ promo.site }} <br /> </ng-template>
        </div>
        <div *ngIf="promo.location">
          <div *ngIf="promo.getCustomLocation(); else showLocation">
            {{ promo.getCustomLocation() }} <br />
          </div>
          <ng-template #showLocation> {{ promo.location }} <br /> </ng-template>
        </div>
        <!-- <div style="color: darkgoldenrod">
          Map: Geo location type:0,code:'4'
        </div> -->
        <div *ngIf="promo.price && promo.limit; else elseBlock">
          Price: ${{ promo.price }} Limit: {{ promo.limit }} <br />
        </div>
        <ng-template #elseBlock>
          <div *ngIf="promo.price">Price: ${{ promo.price }} <br /></div>
          <div *ngIf="promo.limit">Limit: {{ promo.limit }} <br /></div>
        </ng-template>
        <!-- <div style="color: brown">
          Opt-in: [Reg_Time]This is applied IFF the engagement detail is for a
          History
        </div> -->
      </div>
      <br />
      <div>
        <div *ngIf="promo.getRedeemMethod(); else RMelseBlock">
          {{promo.getRedeemMethod()}}:
        </div>
        <ng-template #RMelseBlock> Redeem Type: </ng-template>
        <div class="showdate">
          <div *ngIf="promo.getFormattedStartDateTime(); else showstarttime">
            From: {{ promo.getFormattedStartDateTime() }}
          </div>
          <ng-template #showstarttime> From: </ng-template>
          <div *ngIf="promo.getFormattedEndDateTime() else showendtime">
            To: {{ promo.getFormattedEndDateTime() }}
          </div>
          <ng-template #showendtime> To: </ng-template>
        </div>
      </div>
    </div>
    <!-- ------------Event And Event With Guest-------------- -->
    <div *ngIf="ff.getEngageType() === EngageType.EVENT_WITH_GUEST || ff.getEngageType() === EngageType.EVENT_REGISTRATION">
      <!-- need To Confirm Date -->
      <div class="pageTitle">
        <!-- <div style="color: brown">Wlt_item_status</div>
        <div style="color: brown">Itm_Desc</div> -->
        <div *ngIf="ff.getEngageType() === EngageType.EVENT_WITH_GUEST">
          {{ eventWGuest.guestSelected }} Guest
        </div>
        <div *ngIf="eventWGuest.site">
          <div *ngIf="eventWGuest.getCustomSite(); else showSite">
            Site: {{ eventWGuest.getCustomSite() }} <br />
          </div>
          <ng-template #showSite> Site: {{ eventWGuest.site }} <br /> </ng-template>
        </div>
        <div *ngIf="eventWGuest.location">
          <div *ngIf="eventWGuest.getCustomLocation(); else showLocation">
            Location: {{ eventWGuest.getCustomLocation() }} <br />
          </div>
          <ng-template #showLocation> Location: {{ eventWGuest.location }} <br /> </ng-template>
        </div>
        <!-- <div style="color: darkgoldenrod">
          Map: Geo location type:0,code:'4'
        </div> -->
        <div *ngIf="eventWGuest.price && eventWGuest.guestLimit; else elseBlock">
          Price: ${{ eventWGuest.price }} Limit: {{ eventWGuest.guestLimit }} <br />
        </div>
        <ng-template #elseBlock>
          <div *ngIf="eventWGuest.price">Price: ${{ eventWGuest.price }} <br /></div>
          <div *ngIf="eventWGuest.guestLimit">Limit: {{ eventWGuest.guestLimit }} <br /></div>
        </ng-template>
        <!-- <div style="color: brown">
          Opt-in: [Reg_Time]This is applied IFF the engagement detail is for a
          History
        </div> -->
      </div>
      <br />
      <div>
        <div>
          Event:
        </div>
        <div class="showdate">
          <div *ngIf="eventWGuest.getFormattedStartDateTime(); else showstarttime">
            Start: {{ eventWGuest.getFormattedStartDateTime() }}
          </div>
          <ng-template #showstarttime> From: </ng-template>
          <div *ngIf="eventWGuest.getFormattedEndDateTime() else showendtime">
            End: {{ eventWGuest.getFormattedEndDateTime() }}
          </div>
          <ng-template #showendtime> To: </ng-template>
        </div>
      </div>
    </div>
    <!-- ------------Survey-------------- -->
    <div *ngIf="ff.getEngageType() === EngageType.SURVEY">
      <div class="pageTitle">
        <!-- {{ survey.surveyQuestion }} -->
      </div>
      <br />
      <div>
        Submit Entry:
        <div class="showdate">
          <div *ngIf="survey.getFormattedStartDateTime(); else showstarttime">
            From: {{ survey.getFormattedStartDateTime() }}
          </div>
          <ng-template #showstarttime> From: </ng-template>
          <div *ngIf="survey.getFormattedEndDateTime() else showendtime">
            To: {{ survey.getFormattedEndDateTime() }}
          </div>
          <ng-template #showendtime> To: </ng-template>
        </div>
      </div>
    </div>

    <!-- ------------5 Star Survey-------------- -->
    <div *ngIf="ff.getEngageType() === EngageType.FIVESTARSURVEY">
      <div class="pageTitle">
        <!-- {{ fiveStarSurvey.surveyQuestion }} -->
      </div>
      <br />
      <div>
        Submit Entry:
        <div class="showdate">
          <div *ngIf="fiveStarSurvey.getFormattedStartDateTime(); else showstarttime">
            From: {{ fiveStarSurvey.getFormattedStartDateTime() }}
          </div>
          <ng-template #showstarttime> From: </ng-template>
          <div *ngIf="fiveStarSurvey.getFormattedEndDateTime() else showendtime">
            To: {{ fiveStarSurvey.getFormattedEndDateTime() }}
          </div>
          <ng-template #showendtime> To: </ng-template>
        </div>
      </div>
    </div>
    <!-- -------------Incent Description------------- -->
    <!-- <div *ngIf="!ff.isPromoCampaignType() && ff.isPromo()">
      <br />
      <div class="pageTitle">
        <h3>
          Bonus - {{ promo.type }} <br />
          {{ promo.description }}
        </h3>
      </div>
      {{ promo.redeemStatus }} - {{ promo.redeemMethod }} <br />
      <div *ngIf="promo.itemDescription">
        Item: {{ promo.itemDescription }} <br />
      </div>
      <div *ngIf="promo.price && promo.limit; else elseBlock">
        Price: {{ promo.price }} Limit: {{ promo.limit }} <br />
      </div>
      <ng-template #elseBlock>
        <div *ngIf="promo.price">Price: {{ promo.price }} <br /></div>
        <div *ngIf="promo.limit">Limit: {{ promo.limit }} <br /></div>
      </ng-template>
      <div *ngIf="promo.site">Reward site: {{ promo.site }} <br /></div>
      <div *ngIf="promo.location">
        Reward location: {{ promo.location }} <br />
      </div>
      Starts: {{ promo.getFormattedStartDateTime() }} <br />
      Ends: {{ promo.getFormattedEndDateTime() }} <br />
    </div> -->
    <!-- -----------Incent Description--------------- -->
    <!-- <div *ngIf="!ff.isPromoCampaignType() && ff.isDrawing()">
      <br />
      <div class="pageTitle">
        <h3>
          Bonus - Drawing <br />
          {{ ff.getIncentiveDescription() }}
        </h3>
      </div>
    </div> -->
  </div>
  <!-- {{ ff.getDescription() }} <br />
  {{ actionSymbol.text }} <br />
  <div *ngIf='promoTypeString != undefined'>{{ promoTypeString }} <br /></div>
  {{ ff.getOrg() }} <br /> -->
</div>

<div *ngIf='step === Step.MISSING_DATA' class='pageTitle'>
  <div *ngIf='missingDataMode' class="missingDataError">Please fill out all (required) fields.</div>
  <h3>
    Add Missing Mandatory Data <br />
  </h3>
</div>

<div *ngIf='(step === Step.ACTION_SPECIFIC) && (subStep === SubStep.SURVEY)' class='pageTitle'>
  <div *ngIf='missingSurveyMode' class="missingDataError">Please select an option.</div>
  <br />
  <h3 class="heading">{{ ff.getOrg() }}</h3>
  <div>{{ ff.getDescription() }}</div>
  <h3 class="heading">{{actionSymbol.text}}</h3>
  {{ survey.surveyQuestion }}
</div>

<div *ngIf='(step === Step.ACTION_SPECIFIC) && (subStep === SubStep.FIVESTARSURVEY)' class='pageTitle'>
  <div *ngIf='missingSurveyMode' class="missingDataError">Please select an option.</div>
  <br />
  <h3 class="heading">{{ ff.getOrg() }}</h3>
  <div>{{ ff.getDescription() }}</div>
  <h3 class="heading">{{actionSymbol.text}}</h3>
  {{ fiveStarSurvey.surveyQuestion }}
</div>

<div padding *ngIf='(step === Step.ACTION_SPECIFIC) && (subStep === SubStep.EVENT_WITH_GUEST)' class="pageTitle">
  <!-- <h3> Event w/ Guests </h3>
  {{ ff.getOrg() }} <br />
  {{ ff.getDescription() }} <br /> -->
  <br />
  <h3 class="heading">{{ ff.getOrg() }}</h3>
  <div>{{ ff.getDescription() }}</div>
  <div *ngIf="ff.getEngageType() === EngageType.PROMOTION; else showActionaSymbol">
    <h5 class="heading">
      <!-- <div *ngIf="ff.getBonusType(); else showEngagement">
        {{ ff.getBonusType() }}
      </div>
      <ng-template #showEngagement>{{actionSymbol.text}}</ng-template> -->
      eCoupon
    </h5>
  </div>
  <ng-template #showActionaSymbol>
    <h5 class="heading">{{actionSymbol.text}}</h5>
  <!-- <h3 class="heading">{{ff.getEngageType()}}</h3> -->
  </ng-template>
  <div *ngIf="ff.getEngageType() == EngageType.PROMOTION || ff.getEngageType() == EngageType.PUNCH">
    <br />
  </div>
  <div class='details'>
     <!-- ------------Event And Event With Guest-------------- -->
     <div *ngIf="ff.getEngageType() === EngageType.EVENT_WITH_GUEST">
      <!-- need To Confirm Date -->
      <div class="pageTitle">
        <!-- <div style="color: brown">Wlt_item_status</div>
        <div style="color: brown">Itm_Desc</div> -->
        <div *ngIf="ff.getEngageType() === EngageType.EVENT_WITH_GUEST">
          {{ eventWGuest.guestSelected }} Guest
        </div>
        <div *ngIf="eventWGuest.site">
          <div *ngIf="eventWGuest.getCustomSite(); else showSite">
            Site: {{ eventWGuest.getCustomSite() }} <br />
          </div>
          <ng-template #showSite> Site: {{ eventWGuest.site }} <br /> </ng-template>
        </div>
        <div *ngIf="eventWGuest.location">
          <div *ngIf="eventWGuest.getCustomLocation(); else showLocation">
            Location: {{ eventWGuest.getCustomLocation() }} <br />
          </div>
          <ng-template #showLocation> Location: {{ eventWGuest.location }} <br /> </ng-template>
        </div>
        <!-- <div style="color: darkgoldenrod">
          Map: Geo location type:0,code:'4'
        </div> -->
        <div *ngIf="eventWGuest.price && eventWGuest.guestLimit; else elseBlock">
          Price: ${{ eventWGuest.price }} Limit: {{ eventWGuest.guestLimit }} <br />
        </div>
        <ng-template #elseBlock>
          <div *ngIf="eventWGuest.price">Price: ${{ eventWGuest.price }} <br /></div>
          <div *ngIf="eventWGuest.guestLimit">Limit: {{ eventWGuest.guestLimit }} <br /></div>
        </ng-template>
        <!-- <div style="color: brown">
          Opt-in: [Reg_Time]This is applied IFF the engagement detail is for a
          History
        </div> -->
      </div>
      <br />
      <div>
        <div>
          Event:
        </div>
        <div class="showdate">
          <div *ngIf="eventWGuest.getFormattedStartDateTime(); else showstarttime">
            Start: {{ eventWGuest.getFormattedStartDateTime() }}
          </div>
          <ng-template #showstarttime> From: </ng-template>
          <div *ngIf="eventWGuest.getFormattedEndDateTime() else showendtime">
            End: {{ eventWGuest.getFormattedEndDateTime() }}
          </div>
          <ng-template #showendtime> To: </ng-template>
        </div>
      </div>
    </div>
    <br />
    <!-- Maximum Guests Allowed: {{ ff.getMaxGuests() }} <br />
    Guests Attending: {{ guests }} <br /> -->
    <ion-button color="primary" (click)="openGuestPicker()">Guests Picker</ion-button><br />
  </div>
</div>

<!-- ----Release Screeen--------- -->
<div *ngIf='step === Step.DATA_APPROVAL' class='pageTitle'>
  <br />
  <h3 class="heading">{{ ff.getOrg() }}</h3>
  <div>{{ ff.getDescription() }}</div>
  <div *ngIf="ff.getEngageType() === EngageType.PROMOTION; else showActionaSymbol">
    <h5 class="heading">
      <!-- <div *ngIf="ff.getBonusType(); else showEngagement">
        {{ ff.getBonusType() }}
      </div>
      <ng-template #showEngagement>{{actionSymbol.text}}</ng-template> -->
      eCoupon
    </h5>
  </div>
  <ng-template #showActionaSymbol>
    <h5 class="heading">{{actionSymbol.text}}</h5>
  <!-- <h3 class="heading">{{ff.getEngageType()}}</h3> -->
  </ng-template>
  <div *ngIf="ff.getEngageType() == EngageType.PROMOTION || ff.getEngageType() == EngageType.PUNCH">
    <br />
  </div>
  <div class="details">
     <!-- ------------Survey-------------- -->
    <div *ngIf="ff.getEngageType() === EngageType.SURVEY">
      <div class="pageTitle">
        <div *ngIf="survey.surveyQuestion">{{ survey.surveyQuestion }}</div>
        <div *ngIf="survey.surveyQuestion">Choice: {{ survey.getSurveySelection() }}</div>
        <div *ngIf="ff.getComments()">Comments: {{ ff.getComments() }}</div>
      </div>
      <br />
      <div>
        Submit Entry:
        <div class="showdate">
          <div *ngIf="survey.getFormattedStartDateTime(); else showstarttime">
            From: {{ survey.getFormattedStartDateTime() }}
          </div>
          <ng-template #showstarttime> From: </ng-template>
          <div *ngIf="survey.getFormattedEndDateTime() else showendtime">
            To: {{ survey.getFormattedEndDateTime() }}
          </div>
          <ng-template #showendtime> To: </ng-template>
        </div>
      </div>
    </div>

     <!-- ------------5 Star Survey-------------- -->
     <div *ngIf="ff.getEngageType() === EngageType.FIVESTARSURVEY">
      <div class="pageTitle">
        <div *ngIf="fiveStarSurvey.surveyQuestion">{{ fiveStarSurvey.surveyQuestion }}</div>
        <div *ngIf="fiveStarSurvey.surveyQuestion">Rating: {{ fiveStarSurvey.getSurveySelection() }}</div>
        <div *ngIf="ff.getComments()">Comments: {{ ff.getComments() }}</div>
      </div>
      <br />
      <div>
        Submit Entry:
        <div class="showdate">
          <div *ngIf="fiveStarSurvey.getFormattedStartDateTime(); else showstarttime">
            From: {{ fiveStarSurvey.getFormattedStartDateTime() }}
          </div>
          <ng-template #showstarttime> From: </ng-template>
          <div *ngIf="fiveStarSurvey.getFormattedEndDateTime() else showendtime">
            To: {{ fiveStarSurvey.getFormattedEndDateTime() }}
          </div>
          <ng-template #showendtime> To: </ng-template>
        </div>
      </div>
    </div>

     <!-- ------------Punch-------------- -->
     <div *ngIf="ff.getEngageType() === EngageType.PUNCH">
      <div class="pageTitle">
        <h5 class="heading" *ngIf='punch.itemDescription'>
          Reward: {{ punch.itemDescription }} <br />
        </h5>
        <div *ngIf="punch.getCustomSite()">
          {{ punch.getCustomSite() }} <br />
        </div> 
        <div *ngIf="punch.getActionText()">
          {{ punch.getActionText() }} Earn {{ punch.getEpunchWiseText() }}<br />
        </div>
        <div *ngIf="punch._punch.punchesRequired">
          {{ punch.getEpunchWiseText3() }} {{ punch.getEpunchWiseText1() }} needed<br />
        </div>
        <div *ngIf="punch.getSite()">
          Site: {{ punch.getSite() }} <br />
        </div>
        <div *ngIf="punch.location">
          <div *ngIf="punch.getCustomLocation(); else showLocation">
            Location: {{ punch.getCustomLocation() }} <br />
          </div>
          <ng-template #showLocation>Location: {{ punch.location }} <br /> </ng-template>
        </div>
      </div>
      <br />
      <div>
        <div>
          Earn ePunches:
        </div>
        <div class="showdate">
          <div *ngIf="punch.getFormattedStartDateTime(); else showstarttime">
            From: {{ punch.getFormattedStartDateTime() }}
          </div>
          <ng-template #showstarttime> From: </ng-template>
          <div *ngIf="punch.getFormattedEndDateTime() else showendtime">
            To: {{ punch.getFormattedEndDateTime() }}
          </div>
          <ng-template #showendtime> To: </ng-template>
        </div>
      </div>
    </div>
    <!-- ------------Promo-------------- -->
    <div *ngIf="ff.getEngageType() === EngageType.PROMOTION">
      <div class="pageTitle">
        <div *ngIf='promo.itemDescription'>
          {{ promo.itemDescription }} <br />
        </div>
        <div *ngIf="promo.site">
          <div *ngIf="promo.getCustomSite(); else showSite">
            {{ promo.getCustomSite() }} <br />
          </div>
          <ng-template #showSite> {{ promo.site }} <br /> </ng-template>
        </div>
        <div *ngIf="promo.location">
          <div *ngIf="promo.getCustomLocation(); else showLocation">
            {{ promo.getCustomLocation() }} <br />
          </div>
          <ng-template #showLocation> {{ promo.location }} <br /> </ng-template>
        </div>
        <!-- <div style="color: darkgoldenrod">
          Map: Geo location type:0,code:'4'
        </div> -->
        <div *ngIf="promo.price && promo.limit; else elseBlock">
          Price: ${{ promo.price }} Limit: {{ promo.limit }} <br />
        </div>
        <ng-template #elseBlock>
          <div *ngIf="promo.price">Price: ${{ promo.price }} <br /></div>
          <div *ngIf="promo.limit">Limit: {{ promo.limit }} <br /></div>
        </ng-template>
        <!-- <div style="color: brown">
          Opt-in: [Reg_Time]This is applied IFF the engagement detail is for a
          History
        </div> -->
      </div>
      <br />
      <div>
        <div *ngIf="promo.getRedeemMethod(); else RMelseBlock">
          {{promo.getRedeemMethod()}}:
        </div>
        <ng-template #RMelseBlock> Redeem Type: </ng-template>
        <div class="showdate">
          <div *ngIf="promo.getFormattedStartDateTime(); else showstarttime">
            From: {{ promo.getFormattedStartDateTime() }}
          </div>
          <ng-template #showstarttime> From: </ng-template>
          <div *ngIf="promo.getFormattedEndDateTime() else showendtime">
            To: {{ promo.getFormattedEndDateTime() }}
          </div>
          <ng-template #showendtime> To: </ng-template>
        </div>
      </div>
    </div>

    <!-- ------------Event And Event With Guest-------------- -->
    <div *ngIf="ff.getEngageType() === EngageType.EVENT_WITH_GUEST || ff.getEngageType() === EngageType.EVENT_REGISTRATION">
      <!-- need To Confirm Date -->
      <div class="pageTitle">
        <!-- <div style="color: brown">Wlt_item_status</div>
        <div style="color: brown">Itm_Desc</div> -->
        <div *ngIf="ff.getEngageType() === EngageType.EVENT_WITH_GUEST">
          {{ eventWGuest.guestSelected }} Guest
        </div>
        <div *ngIf="eventWGuest.site">
          <div *ngIf="eventWGuest.getCustomSite(); else showSite">
            Site: {{ eventWGuest.getCustomSite() }} <br />
          </div>
          <ng-template #showSite> Site: {{ eventWGuest.site }} <br /> </ng-template>
        </div>
        <div *ngIf="eventWGuest.location">
          <div *ngIf="eventWGuest.getCustomLocation(); else showLocation">
            Location: {{ eventWGuest.getCustomLocation() }} <br />
          </div>
          <ng-template #showLocation> Location: {{ eventWGuest.location }} <br /> </ng-template>
        </div>
        <!-- <div style="color: darkgoldenrod">
          Map: Geo location type:0,code:'4'
        </div> -->
        <div *ngIf="eventWGuest.price && eventWGuest.guestLimit; else elseBlock">
          Price: ${{ eventWGuest.price }} Limit: {{ eventWGuest.guestLimit }} <br />
        </div>
        <ng-template #elseBlock>
          <div *ngIf="eventWGuest.price">Price: ${{ eventWGuest.price }} <br /></div>
          <div *ngIf="eventWGuest.guestLimit">Limit: {{ eventWGuest.guestLimit }} <br /></div>
        </ng-template>
        <!-- <div style="color: brown">
          Opt-in: [Reg_Time]This is applied IFF the engagement detail is for a
          History
        </div> -->
      </div>
      <br />
      <div>
        <div>
          Event:
        </div>
        <div class="showdate">
          <div *ngIf="eventWGuest.getFormattedStartDateTime(); else showstarttime">
            Start: {{ eventWGuest.getFormattedStartDateTime() }}
          </div>
          <ng-template #showstarttime> From: </ng-template>
          <div *ngIf="eventWGuest.getFormattedEndDateTime() else showendtime">
            End: {{ eventWGuest.getFormattedEndDateTime() }}
          </div>
          <ng-template #showendtime> To: </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf='step === Step.REDEEM' class='pageTitle'>
  <h3>eRedeem</h3>
  {{ actionSymbol.text }} <br />
  {{ ff.getOrg() }} <br />
  {{ ff.getDescription() }} <br />
</div>

<div *ngIf='step === Step.COMPLETE' class='pageTitle'>
  <br />
  <h3 class="heading">{{ ff.getOrg() }}</h3>
  <div>{{ ff.getDescription() }}</div>
  <div *ngIf="ff.getEngageType() === EngageType.PROMOTION; else showActionaSymbol">
    <h5 class="heading">
      <!-- <div *ngIf="ff.getBonusType(); else showEngagement">
        {{ ff.getBonusType() }}
      </div>
      <ng-template #showEngagement>{{actionSymbol.text}}</ng-template> -->
      eCoupon
    </h5>
  </div>
  <ng-template #showActionaSymbol>
    <h5 class="heading">{{actionSymbol.text}}</h5>
  <!-- <h3 class="heading">{{ff.getEngageType()}}</h3> -->
  </ng-template>
  <div *ngIf="ff.getEngageType() == EngageType.PROMOTION || ff.getEngageType() == EngageType.PUNCH">
    <br />
  </div>
  <div class='details'>
    <!-- Sponsor: {{ ff.getOrg() }} <br />
    <table *ngIf='ff.getEngageType() === EngageType.PROMOTION'>
      <tr>
        <td>Valid:&nbsp;&nbsp;&nbsp;</td>
        <td>From: {{ promo.getFormattedStartDateTime() }}</td>
      </tr>
      <tr>
        <td></td>
        <td>To: {{ promo.getFormattedEndDateTime() }}</td>
      </tr>
    </table> -->
    <!-- Starts: {{ campaignStartDateTime }} <br />
    Ends: {{ campaignEndDateTime }} <br />
    <div *ngIf='!ff.isPromoCampaignType() && ff.isPromo()'>
      <br />
      Incentive: {{ promo.description }} <br />
      Starts: {{ promo.getFormattedStartDateTime() }} <br />
      Ends: {{ promo.getFormattedEndDateTime() }} <br />
    </div> -->
    <!-- ------------Survey-------------- -->
    <div *ngIf="ff.getEngageType() === EngageType.SURVEY">
      <div class="pageTitle">
        <div *ngIf="survey.surveyQuestion">{{ survey.surveyQuestion }}</div>
        <div *ngIf="survey.surveyQuestion">Choice: {{ survey.getSurveySelection() }}</div>
        <div *ngIf="ff.isComment()">Comments: {{ ff.getComments() }}</div>
      </div>
      <br />
      <div>
        Submit Entry:
        <div class="showdate">
          <div *ngIf="survey.getFormattedStartDateTime(); else showstarttime">
            From: {{ survey.getFormattedStartDateTime() }}
          </div>
          <ng-template #showstarttime> From: </ng-template>
          <div *ngIf="survey.getFormattedEndDateTime() else showendtime">
            To: {{ survey.getFormattedEndDateTime() }}
          </div>
          <ng-template #showendtime> To: </ng-template>
        </div>
      </div>
      <!-- <br *ngIf="survey.type"/> -->
      <div *ngIf="survey.type" class="divider"></div>
      <div *ngIf="survey.type" class="pageTitle">
          <h4 class="heading" *ngIf="survey.getIncentOrg(); else showSponsor">{{survey.getIncentOrg()}} Bonus</h4>
          <ng-template #showSponsor>
            <h4 class="heading" *ngIf="ff.getOrg()">{{ff.getOrg()}} Bonus</h4>
          </ng-template>
          <!-- <h5 class="heading" *ngIf="survey.getIncentiveDescription()">{{survey.getIncentiveDescription()}}</h5> -->
          <h5 class="heading" *ngIf="survey.getIncentiveDescription()">
            <span *ngIf="survey.getIncentLabel()">{{ survey.getIncentLabel() }}</span>
            <span>{{ survey.getIncentiveDescription() }}</span>
          </h5>
          <div>
            <!-- <span *ngIf="survey.redeemStatus">{{ survey.redeemStatus }} - </span> -->
            <span *ngIf="survey.type">{{ survey.type }}</span>
          </div>
          <div *ngIf="ff.getBonusType() === BonusType.COUPON && survey.getCouponDate()">Ends: {{ survey.getCouponDate() }}</div>
          <div *ngIf="ff.getBonusType() === BonusType.DRWAING && survey.getDrawingDate()">Draw Date: {{ survey.getDrawingDate() }}</div>
          <div *ngIf="ff.getBonusType() === BonusType.PUNCH && survey.getPunchDate()">Ends: {{ survey.getPunchDate() }}</div>
      </div>  
    </div>
     <!-- ------------5 Star Survey-------------- -->
     <div *ngIf="ff.getEngageType() === EngageType.FIVESTARSURVEY">
      <div class="pageTitle">
        <div *ngIf="fiveStarSurvey.surveyQuestion">{{ fiveStarSurvey.surveyQuestion }}</div>
        <div *ngIf="fiveStarSurvey.surveyQuestion">Rating: {{ fiveStarSurvey.getSurveySelection() }}</div>
        <div *ngIf="ff.getComments()">Comments: {{ ff.getComments() }}</div>
      </div>
      <br />
      <div>
        Submit Entry:
        <div class="showdate">
          <div *ngIf="fiveStarSurvey.getFormattedStartDateTime(); else showstarttime">
            From: {{ fiveStarSurvey.getFormattedStartDateTime() }}
          </div>
          <ng-template #showstarttime> From: </ng-template>
          <div *ngIf="fiveStarSurvey.getFormattedEndDateTime() else showendtime">
            To: {{ fiveStarSurvey.getFormattedEndDateTime() }}
          </div>
          <ng-template #showendtime> To: </ng-template>
        </div>
      </div>
      <!-- <br *ngIf="fiveStarSurvey.type"/> -->
      <div *ngIf="fiveStarSurvey.type" class="divider"></div>
      <div *ngIf="fiveStarSurvey.type" class="pageTitle">
          <h4 class="heading" *ngIf="fiveStarSurvey.getIncentOrg(); else showSponsor">{{fiveStarSurvey.getIncentOrg()}} Bonus</h4>
          <ng-template #showSponsor>
            <h4 class="heading" *ngIf="ff.getOrg()">{{ff.getOrg()}} Bonus</h4>
          </ng-template>
          <!-- <h5 class="heading" *ngIf="fiveStarSurvey.getIncentiveDescription()">{{fiveStarSurvey.getIncentiveDescription()}}</h5> -->
          <h5 class="heading" *ngIf="fiveStarSurvey.getIncentiveDescription()">
            <span *ngIf="fiveStarSurvey.getIncentLabel()">{{ fiveStarSurvey.getIncentLabel() }}</span>
            <span>{{ fiveStarSurvey.getIncentiveDescription() }}</span>
          </h5>
          <div>
            <!-- <span *ngIf="fiveStarSurvey.redeemStatus">{{ fiveStarSurvey.redeemStatus }} - </span> -->
            <span *ngIf="fiveStarSurvey.type">{{ fiveStarSurvey.type }}</span>
          </div>
          <div *ngIf="ff.getBonusType() === BonusType.COUPON && fiveStarSurvey.getCouponDate()">Ends: {{ fiveStarSurvey.getCouponDate() }}</div>
          <div *ngIf="ff.getBonusType() === BonusType.DRWAING && fiveStarSurvey.getDrawingDate()">Draw Date: {{ fiveStarSurvey.getDrawingDate() }}</div>
          <div *ngIf="ff.getBonusType() === BonusType.PUNCH && fiveStarSurvey.getPunchDate()">Ends: {{ fiveStarSurvey.getPunchDate() }}</div>
      </div>  
    </div>
     <!-- ------------Punch-------------- -->
     <div *ngIf="ff.getEngageType() === EngageType.PUNCH">
      <div class="pageTitle">
        <!-- <h4 class="heading">
          <span *ngIf='punch.redeemStatus'>{{ punch.redeemStatus }} - </span>
          ePunch Card
        </h4> -->
        <h5 class="heading" *ngIf='punch.itemDescription'>
          Reward: {{ punch.itemDescription }} <br />
        </h5>
        <div *ngIf="punch.getCustomSite()">
          {{ punch.getCustomSite() }} <br />
        </div>
        <div *ngIf="punch.getActionText()">
          {{ punch.getActionText() }} Earn {{ punch.getEpunchWiseText() }}<br />
        </div>
        <div *ngIf="punch._punch.punchesRequired">
          {{ punch.getEpunchWiseText3() }} {{ punch.getEpunchWiseText1() }} needed<br />
        </div>
        <div *ngIf="punch.getSite()">
          Site: {{ punch.getSite() }} <br />
        </div>
        <div *ngIf="punch.location">
          <div *ngIf="punch.getCustomLocation(); else showLocation">
            Location: {{ punch.getCustomLocation() }} <br />
          </div>
          <ng-template #showLocation>Location: {{ punch.location }} <br /> </ng-template>
        </div>
      </div>
      <br />
      <div>
        <div>
          Earn ePunches:
        </div>
        <div class="showdate">
          <div *ngIf="punch.getFormattedStartDateTime(); else showstarttime">
            From: {{ punch.getFormattedStartDateTime() }}
          </div>
          <ng-template #showstarttime> From: </ng-template>
          <div *ngIf="punch.getFormattedEndDateTime() else showendtime">
            To: {{ punch.getFormattedEndDateTime() }}
          </div>
          <ng-template #showendtime> To: </ng-template>
        </div>
      </div>
      <!-- Only For eCoupon and Drawing -->
      <!-- <br *ngIf="punch.type"/> -->
      <div *ngIf="punch.type" class="divider"></div>
      <div *ngIf="punch.type" class="pageTitle">
          <h4 class="heading" *ngIf="punch.getIncentOrg(); else showSponsor">{{punch.getIncentOrg()}} Bonus</h4>
          <ng-template #showSponsor>
            <h4 class="heading" *ngIf="ff.getOrg()">{{ff.getOrg()}} Bonus</h4>
          </ng-template>
          <!-- <h5 class="heading" *ngIf="survey.getIncentiveDescription()">{{survey.getIncentiveDescription()}}</h5> -->
          <h5 class="heading" *ngIf="punch.getIncentiveDescription()">
            <span *ngIf="punch.getIncentLabel()">{{ punch.getIncentLabel() }}</span>
            <span>{{ punch.getIncentiveDescription() }}</span>
          </h5>
          <div>
            <!-- <span *ngIf="punch.redeemStatus">{{ punch.redeemStatus }} - </span> -->
            <span *ngIf="punch.type">{{ punch.type }}</span>
          </div>
          <div *ngIf="punch.isEcoupon() && punch.getCouponDate()">Ends: {{ punch.getCouponDate() }}</div>
          <div *ngIf="punch.isEdrawing() && punch.getDrawingDate()">Draw Date: {{ punch.getDrawingDate() }}</div>
          <!-- <div *ngIf="ff.getBonusType() === BonusType.PUNCH && survey.getPunchDate()">Ends: {{ survey.getPunchDate() }}</div> -->
      </div> 
    </div>
    <!-- ------------Promo-------------- -->
    <div *ngIf="ff.getEngageType() === EngageType.PROMOTION">
      <div class="pageTitle">
        <div *ngIf='promo.itemDescription'>
          {{ promo.itemDescription }} <br />
        </div>
        <div *ngIf="promo.site">
          <div *ngIf="promo.getCustomSite(); else showSite">
            {{ promo.getCustomSite() }} <br />
          </div>
          <ng-template #showSite> {{ promo.site }} <br /> </ng-template>
        </div>
        <div *ngIf="promo.location">
          <div *ngIf="promo.getCustomLocation(); else showLocation">
            {{ promo.getCustomLocation() }} <br />
          </div>
          <ng-template #showLocation> {{ promo.location }} <br /> </ng-template>
        </div>
        <!-- <div style="color: darkgoldenrod">
          Map: Geo location type:0,code:'4'
        </div> -->
        <div *ngIf="promo.price && promo.limit; else elseBlock">
          Price: ${{ promo.price }} Limit: {{ promo.limit }} <br />
        </div>
        <ng-template #elseBlock>
          <div *ngIf="promo.price">Price: ${{ promo.price }} <br /></div>
          <div *ngIf="promo.limit">Limit: {{ promo.limit }} <br /></div>
        </ng-template>
        <!-- <div style="color: brown">
          Opt-in: [Reg_Time]This is applied IFF the engagement detail is for a
          History
        </div> -->
      </div>
      <br />
      <div>
        <div *ngIf="promo.getRedeemMethod(); else RMelseBlock">
          {{promo.getRedeemMethod()}}:
        </div>
        <ng-template #RMelseBlock> Redeem Type: </ng-template>
        <div class="showdate">
          <div *ngIf="promo.getFormattedStartDateTime(); else showstarttime">
            From: {{ promo.getFormattedStartDateTime() }}
          </div>
          <ng-template #showstarttime> From: </ng-template>
          <div *ngIf="promo.getFormattedEndDateTime() else showendtime">
            To: {{ promo.getFormattedEndDateTime() }}
          </div>
          <ng-template #showendtime> To: </ng-template>
        </div>
      </div>
      <!-- <br *ngIf="promo.getIncentType()"/> -->
      <div *ngIf="promo.getIncentType()" class="divider"></div>
      <div *ngIf="promo.getIncentType()" class="pageTitle">
          <h4 class="heading" *ngIf="promo.getIncentOrg(); else showSponsor">{{promo.getIncentOrg()}} Bonus</h4>
          <ng-template #showSponsor>
            <h4 class="heading" *ngIf="ff.getOrg()">{{ff.getOrg()}} Bonus</h4>
          </ng-template>
          <!-- <h5 class="heading" *ngIf="promo.getIncentiveDescription()">{{promo.getIncentiveDescription()}}</h5> -->
          <h5 class="heading" *ngIf="promo.getIncentiveDescription()">
            <span *ngIf="promo.getIncentLabel()">{{ promo.getIncentLabel() }}</span>
            <span>{{ promo.getIncentiveDescription() }}</span>
          </h5>
          <div>
            <!-- <span *ngIf="promo.redeemStatus">{{ promo.redeemStatus }} - </span> -->
            <span *ngIf="promo.getIncentType()">{{ promo.getIncentType() }}</span>
          </div>
          <div *ngIf="ff.getBonusType() === BonusType.COUPON && promo.getCouponDate()">Ends: {{ promo.getCouponDate() }}</div>
          <div *ngIf="ff.getBonusType() === BonusType.DRWAING && promo.getDrawingDate()">Draw Date: {{ promo.getDrawingDate() }}</div>
          <div *ngIf="ff.getBonusType() === BonusType.PUNCH && promo.getPunchDate()">Ends: {{ promo.getPunchDate() }}</div>
      </div>  
    </div>
     <!-- ------------Event And Event With Guest-------------- -->
     <div *ngIf="ff.getEngageType() === EngageType.EVENT_WITH_GUEST || ff.getEngageType() === EngageType.EVENT_REGISTRATION">
      <!-- need To Confirm Date -->
      <div class="pageTitle">
        <!-- <div style="color: brown">Wlt_item_status</div>
        <div style="color: brown">Itm_Desc</div> -->
        <div *ngIf="ff.getEngageType() === EngageType.EVENT_WITH_GUEST">
          {{ eventWGuest.guestSelected }} Guest
        </div>
        <div *ngIf="eventWGuest.site">
          <div *ngIf="eventWGuest.getCustomSite(); else showSite">
            Site: {{ eventWGuest.getCustomSite() }} <br />
          </div>
          <ng-template #showSite> Site: {{ eventWGuest.site }} <br /> </ng-template>
        </div>
        <div *ngIf="eventWGuest.location">
          <div *ngIf="eventWGuest.getCustomLocation(); else showLocation">
            Location: {{ eventWGuest.getCustomLocation() }} <br />
          </div>
          <ng-template #showLocation> Location: {{ eventWGuest.location }} <br /> </ng-template>
        </div>
        <!-- <div style="color: darkgoldenrod">
          Map: Geo location type:0,code:'4'
        </div> -->
        <div *ngIf="eventWGuest.price && eventWGuest.guestLimit; else elseBlock">
          Price: ${{ eventWGuest.price }} Limit: {{ eventWGuest.guestLimit }} <br />
        </div>
        <ng-template #elseBlock>
          <div *ngIf="eventWGuest.price">Price: ${{ eventWGuest.price }} <br /></div>
          <div *ngIf="eventWGuest.guestLimit">Limit: {{ eventWGuest.guestLimit }} <br /></div>
        </ng-template>
        <!-- <div style="color: brown">
          Opt-in: [Reg_Time]This is applied IFF the engagement detail is for a
          History
        </div> -->
      </div>
      <br />
      <div>
        <div>
          Event:
        </div>
        <div class="showdate">
          <div *ngIf="eventWGuest.getFormattedStartDateTime(); else showstarttime">
            Start: {{ eventWGuest.getFormattedStartDateTime() }}
          </div>
          <ng-template #showstarttime> From: </ng-template>
          <div *ngIf="eventWGuest.getFormattedEndDateTime() else showendtime">
            End: {{ eventWGuest.getFormattedEndDateTime() }}
          </div>
          <ng-template #showendtime> To: </ng-template>
        </div>
      </div>
      <!-- <br /> -->
      <div *ngIf="eventWGuest.type" class="divider"></div>
      <div *ngIf="eventWGuest.type" class="pageTitle">
        <h4 class="heading" *ngIf="eventWGuest.incentOrg; else showSponsor">{{eventWGuest.incentOrg}} Bonus</h4>
        <ng-template #showSponsor>
          <h4 class="heading" *ngIf="ff.getOrg()">{{ff.getOrg()}} Bonus</h4>
        </ng-template>
        <!-- <h5 class="heading" *ngIf="eventWGuest.incentDesc">{{eventWGuest.incentDesc}}</h5> -->
        <h5 class="heading" *ngIf="eventWGuest.incentDesc">
          <span *ngIf="eventWGuest.getIncentLabel()">{{ eventWGuest.getIncentLabel() }}</span>
          <span>{{ eventWGuest.incentDesc }}</span>
        </h5>
        <div>
          <!-- <span *ngIf="eventWGuest.redeemStatus">{{ eventWGuest.redeemStatus }} - </span> -->
          <span *ngIf="eventWGuest.type">{{ eventWGuest.type }}</span>
        </div>
        <div *ngIf="ff.getBonusType() === BonusType.COUPON && eventWGuest.getCouponDate()">Ends: {{ eventWGuest.getCouponDate() }}</div>
        <div *ngIf="ff.getBonusType() === BonusType.DRWAING && eventWGuest.getDrawingDate()">Draw Date: {{ eventWGuest.getDrawingDate() }}</div>
        <div *ngIf="ff.getBonusType() === BonusType.PUNCH && eventWGuest.getPunchDate()">Ends: {{ eventWGuest.getPunchDate() }}</div>
      </div>  
    </div>
    <!-- <div *ngIf='!ff.isPromoCampaignType() && ff.isPromo()'>
      <br />
      <div class="pageTitle">
        <h3>
          Bonus - {{ promo.type }} <br />
          {{ promo.description }}
        </h3>
      </div>
      <table>
        <tr>
          <td>Valid:&nbsp;&nbsp;&nbsp;</td>
          <td>From: {{ promo.getFormattedStartDateTime() }}</td>
        </tr>
        <tr>
          <td></td>
          <td>To: {{ promo.getFormattedEndDateTime() }}</td>
        </tr>
      </table>
    </div>
    <div *ngIf='!ff.isPromoCampaignType() && ff.isDrawing()'>
      <br />
      <div class="pageTitle">
        <h3>
          Bonus - Drawing <br />
          {{ ff.getIncentiveDescription() }}
        </h3>
      </div>
    </div> -->
  </div>
  <!-- {{ ff.getDescription() }} <br />
  {{ actionSymbol.text }} <br />
  <div *ngIf='promoTypeString != undefined'>{{ promoTypeString }}<br /></div>
  {{ ff.getOrg() }} <br /> -->
</div>

<div *ngIf='step === Step.CANCEL' class='pageTitle'>
  <h3>QRA Cancelled</h3>
  {{ actionSymbol.text }} <br />
  {{ ff.getOrg() }} <br />
</div>

<ion-content overflow-scroll=”true”>
  <!-- <div padding *ngIf='(step === Step.ERROR) && (subStep === SubStep.DATETIME_INTERVAL)' style='text-align: center;'>
    <span *ngIf='dateTimeEarly'>
      This QRA campaign hasn't begun yet
    </span>
    <span *ngIf='!dateTimeEarly'>
      This QRA campaign has expired
    </span>
  </div> -->

  <div padding *ngIf='(step === Step.ERROR) && (subStep === SubStep.DUPLICATE)' style='text-align: center;'>
    You have already scanned this engagement
    <br />
    It cannot be scanned again
    <br />
    <br />
    Check the History and Pending pages for more information
  </div>

  <div padding *ngIf='(step === Step.ERROR) && (subStep === SubStep.REDEEM)' style='text-align: center;'>
    <div *ngIf='!!model.sfa'>
      This is a QRA code, not an eRedeem code
      <br />
      <br />
      Valid codes can be found on the <div style='display:inline-block'>
        <ion-icon name='pricetags'></ion-icon>eRedemption
      </div> page of the QRA app
      </div>
    <div *ngIf='!model.sfa'>
      This is a redemption code
    </div>
  </div>

  <div padding *ngIf='step === Step.ACTION_APPROVAL'>
  </div>

  <div padding *ngIf='step === Step.MISSING_DATA'>
    <ion-list lines='none' class='symbolsList'>
      <ion-item *ngFor='let symbol of missingDataValidator.symbols'>
        <symbol [symbol]='symbol' (validate)='missingDataRevalidate()'></symbol>
      </ion-item>
    </ion-list>
  </div>

  <div padding *ngIf='(step === Step.ACTION_SPECIFIC) && (subStep === SubStep.SURVEY)'>
    <div *ngIf="isMultiChoice else radioselection" >
      <ion-list>
        <ion-item *ngFor="let o of getSurveyOptions(ff)">
          <ion-label>{{ o.o }}</ion-label>
          <ion-checkbox value='{{o.o}}' mode="md" name="isWriteIn" (ionChange)="surveySelectCheckBox($event)" ></ion-checkbox>
        </ion-item>
        <div *ngIf="ff.isWriteIn()">
          <ion-list>
              <ion-label position="floating" class="ion-margin">Write your choice:</ion-label>
              <ion-item class="input-box">
                <ion-input maxlength="24" placeholder="Write Your Feedback" type="text" text-right id="writeInInput" [(ngModel)]="writeMultiChoice"></ion-input>
            </ion-item>
          </ion-list>
        </div>
      </ion-list>
    </div>
    <ng-template #radioselection> 
    <ion-radio-group (ionChange)='surveySelect($event.detail.value)' [(ngModel)]="survey_radio_button">
      <ion-list>
        <ion-item *ngFor="let o of getSurveyOptions(ff)">
          <ion-label>{{ o.o }}</ion-label>
            <ion-radio value='{{o.o}}' mode="md" name="isWriteIn" [ngClass]="{'surveySelected' : o.selected}"></ion-radio>
        </ion-item>
        <div *ngIf="ff.isWriteIn()">
          <ion-list>
              <ion-label position="floating" class="ion-margin">Write your choice:</ion-label>
              <ion-item class="input-box">
                <ion-input maxlength="24" placeholder="Write Your Feedback" type="text" text-right id="writeInInput" [(ngModel)]="writeChoice"></ion-input>
            </ion-item>
          </ion-list>
        </div>
      </ion-list>
    </ion-radio-group>
  </ng-template>

  <!-- <div *ngIf="ff.isWriteIn()">
    <ion-list>
      <ion-label position="floating" class="ion-margin">Write your choice:</ion-label>
      <ion-item class="input-box">
      <ion-input maxlength="24" placeholder="Write Your Feedback" type="text" text-right id="writeInInput" [(ngModel)]="writeChoice"></ion-input>
    </ion-item>
  </ion-list>
  </div> -->
  
  <div *ngIf="ff.isComment()">
    <ion-list>
      <ion-label position="floating" class="ion-margin">Comments:</ion-label>
      <ion-item class="input-box">
      <ion-input type="text" maxlength="128" placeholder="Your Comment" type="text" text-right id="commentInput" [(ngModel)] = "writeComment"></ion-input>
    </ion-item>
  </ion-list>
  </div>
  </div>

  <div padding *ngIf='(step === Step.ACTION_SPECIFIC) && (subStep === SubStep.FIVESTARSURVEY)'>
    <div>
      <ion-radio-group (ionChange)='fiveStarRatingsurveySelect($event)'>
        <ion-list>
          <ion-item lines=none>
            <ion-label>Terriable</ion-label>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-radio value="1" mode="md" [ngClass]="{'surveySelected' : 'Terriable'}"></ion-radio>&nbsp;&nbsp;
          </ion-item>
          <ion-item lines=none>
            <ion-label>&nbsp;&nbsp;</ion-label>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-icon name="star-half" color="primary" class="ion-star-margin"></ion-icon>
            <ion-radio value="1½" mode="md" [ngClass]="{'surveySelected' : 'Terriable'}"></ion-radio>&nbsp;&nbsp;
          </ion-item>

          <ion-item>
            <ion-label>Barely Acceptable</ion-label>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-radio value="2" mode="md" [ngClass]="{'surveySelected' :'Barely Acceptable'}"></ion-radio>&nbsp;&nbsp;
          </ion-item>
          <ion-item>
            <ion-label>&nbsp;&nbsp;</ion-label>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-icon name="star-half" color="primary" class="ion-star-margin"></ion-icon>
            <ion-radio value="2½ " mode="md" [ngClass]="{'surveySelected' :'Barely Acceptable'}"></ion-radio>&nbsp;&nbsp;
          </ion-item>

          <ion-item>
            <ion-label>Average</ion-label>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-radio value="3" mode="md" [ngClass]="{'surveySelected' :'Avegare'}"></ion-radio>&nbsp;&nbsp;
          </ion-item>
          <ion-item>
            <ion-label>&nbsp;&nbsp;</ion-label>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-icon name="star-half" color="primary" class="ion-star-margin"></ion-icon>
            <ion-radio value="3½ " mode="md" [ngClass]="{'surveySelected' :'Avegare'}"></ion-radio>&nbsp;&nbsp;
          </ion-item>

          <ion-item>
            <ion-label>Very Good</ion-label>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-radio value="4" mode="md" [ngClass]="{'surveySelected' :'Very Good'}"></ion-radio>&nbsp;&nbsp;
          </ion-item>
          <ion-item>
            <ion-label>&nbsp;&nbsp;</ion-label>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-icon name="star-half" color="primary" class="ion-star-margin"></ion-icon>
            <ion-radio value="4½ " mode="md" [ngClass]="{'surveySelected' :'Very Good'}"></ion-radio>&nbsp;&nbsp;
          </ion-item>

          <ion-item>
            <ion-label>Perfact</ion-label>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-icon name="star" color="primary" class="ion-star-margin"></ion-icon>
            <ion-radio value="5" mode="md" [ngClass]="{'surveySelected' :'Perfact'}"></ion-radio>&nbsp;&nbsp;
          </ion-item>
        </ion-list>
      </ion-radio-group>
    </div>
    
  <div *ngIf="ff.isWriteIn()">
    <ion-list>
      <ion-label position="floating" class="ion-margin">Write your choice:</ion-label>
      <ion-item class="input-box">
      <ion-input maxlength="24" placeholder="Write Your Feedback" type="text" text-right id="writeInInput" [(ngModel)]="writeChoice"></ion-input>
    </ion-item>
  </ion-list>
  </div>
  
  <div *ngIf="ff.isComment()">
    <ion-list>
      <ion-label position="floating" class="ion-margin">Comments:</ion-label>
      <ion-item class="input-box">
      <ion-input type="text" maxlength="128" placeholder="Your Comment" type="text" text-right id="commentInput" [(ngModel)] = "writeComment"></ion-input>
    </ion-item>
  </ion-list>
  </div>
  </div>

  <div padding *ngIf='step === Step.DATA_APPROVAL'>
    <ion-list no-padding lines='none'>
      <ion-item *ngFor='let a of approvalElements' class='approvalItem'>

        <ion-card no-padding>
          <ion-card-header>
            <ion-card-title class='approvalCardTitle'>
              <div (click)='a.expanded = !a.expanded'>
                <ion-icon [name]="a.expanded ? 'chevron-down' : 'chevron-up'"></ion-icon>
                {{ a.text }}
                <span style='font-weight:200'>
                  {{ a.required? 'Required' : 'Optional' }}
                </span>
              </div>
              <div class='skipToggle'>
                <span>{{ a.approved ? 'Send' : 'Skip' }}</span>
                <ion-toggle [disabled]='a.required' [(ngModel)]='a.approved' [checked]='a.approved'
                  [disabled]='a.required'>
                </ion-toggle>
              </div>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content class='approvalElements' *ngIf='a.expanded'>
            <ion-list lines='full'>
              <ion-item *ngFor='let v of a.values'>
                {{ v.name }} - {{ v.value }}
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>

      </ion-item>
    </ion-list>
  </div>

  <div padding *ngIf='step === Step.REDEEM' style='text-align: center;'>
    Redeem?
  </div>

  <div padding *ngIf='step === Step.COMPLETE'>
    <!-- <fulfillment [fulfillment]='ff'></fulfillment> -->
    <div *ngIf='ff.state==FFState.SUBMITTED' class="progressString">
      <br />
      The engagement request has been submitted. You
      will be notified when registration has been confirmed
      <br />
    </div>
    <div>
      <h3 class='pageTitle'>Engagement Options</h3>
      <ion-list lines='full' class='followupList'>
        <ion-item (click)='share()'>
          <ion-icon name='share'></ion-icon>
          Share
          <ion-icon name="ellipse-outline"></ion-icon>
        </ion-item>
        <ion-item (click)='followUpCalendar()'>
          <ion-icon name='calendar' id='calendarIcon'></ion-icon>
          Add to Calendar
          <ion-icon *ngIf='followUpCalendarCompleted' name="checkmark-circle"></ion-icon>
          <ion-icon *ngIf='!followUpCalendarCompleted' name="ellipse-outline"></ion-icon>
        </ion-item>
        <!-- <ion-item disabled>
          <ion-icon name='calendar'></ion-icon>
          Add to Calendar (with alert)
        </ion-item> -->
        <!-- <ion-item disabled>
          <ion-icon name='alarm'></ion-icon>
          Set reminder
        </ion-item> -->
        <!-- <ion-item disabled>
          <ion-icon name='map'></ion-icon>
          Show location on map
        </ion-item> -->
      </ion-list>
    </div>
  </div>

  <div padding *ngIf='step === Step.CANCEL'>
    Some follow-ups can still be completed:
    <ion-list>
      <ion-item (click)='followUpCalendar()'>
        <ion-icon name='calendar' id='calendarIcon'></ion-icon>
        Add to calendar
        <ion-icon *ngIf='followUpCalendarCompleted' name="checkmark-circle"></ion-icon>
      </ion-item>
    </ion-list>
  </div>

</ion-content>

<div *ngIf='step === Step.ACTION_APPROVAL || step === Step.DATA_APPROVAL' class="bottomAnchor">*To continue to opt-in for this engagement, select
  approve</div>

<footer [buttons]='footerButtons' [page]='null'></footer>