<header [editCallbacks]='getEditCallbacks()' [editContext]='editContext'></header>

<div class='pageTitle'>
  <h3>Pending</h3>
</div>
<ion-content padding>
  <div style='text-align: center;'>
    <span *ngIf='fulfillments'>
      <div *ngFor='let f of fulfillments' class='cardContainer'>
        <div *ngIf='editContext'>
          <ion-checkbox [(ngModel)]='f.selected' [checked]='f.selected'></ion-checkbox>
        </div>
        <fulfillment [fulfillment]='f' class='card'></fulfillment>
      </div>
    </span>
  </div>
</ion-content>

<footer [buttons]='buttons' [page]='page'></footer>