ion-content {
	--ion-background-color: rgba(0,0,0,0);
	--background: rgba(0,0,0,0);
}

#reticle-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#reticle {
	width: 220px;
	height: 220px;
	border: 1px solid var(--ion-color-primary);
	background-color: rgba(0,0,0,0);
	box-shadow: 0 0 0 9999px rgba(255, 255, 255, 0.3);
}

.primaryToolbar ion-button{
	// --background : var(--ion-color-primary-shade);
}